html,
body {
  height: 100%;
}

/*FONTS*/
.bnhr {
  font-family: 'Geo', sans-serif;
  font-size: 128px;
  color: #000000;
}

.nav-text {
  font-family: 'Muli', sans-serif;
  font-size: 22px;
}

.cv-header {
  font-family: 'Geo', sans-serif;
  font-size: 36px;
  color: #000000;
}

p {
  font-family: 'Muli', sans-serif;
}

.cv-text {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  /*text-align: justify;*/
}

.cv-li {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
}

/*NAV BAR*/
nav a {
  color: #000000;
}

nav a:active {
  background-color: #000000;
  color: #ffffff;
}

nav a:hover {
  background-color: #000000;
  color: #ffffff;
}

/*BG*/
.full-bg-img {
  background: url("../img/bg-wt.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .nav-text {
    font-size: 18px;
  }

  .cv-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 360px) {
  .nav-text {
    font-size: 14px;
  }

  .cv-text {
    font-size: 14px;
  }

  .cv-li {
    font-size: 12px;
  }
}
