---
layout: default
---
<section id="summary">
  <div class="container">
    <!-- <hr> -->
    <p class="cv-name">Ben Hur S. Pintor</p>
    <!-- <p class="cv-desc">geomatics specialist and geospatial programmer</p> -->
  </div>
</section>

<section id="competencies">
    <div class="container">
        {% include cv-competencies.html %}
    </div>
</section>

<section id="exp">
    <div class="container">
       {% include cv-experience.html %}
    </div>
</section>

<section id="edu">
    <div class="container">
        {% include cv-education.html %}
    </div>
</section>

<section id="fel">
    <div class="container">
        {% include cv-fellowships.html %}
    </div>
</section>

<section id="papers">
    <div class="container">
       {% include cv-papers.html %}
    </div>
</section>

<section id="workshops">
    <div class="container">
       {% include cv-workshops.html %}
    </div>
</section>

<section id="skills">
    <div class="container">
       {% include cv-skils.html %}
    </div>
</section>

<section id="certifications">
    <div class="container">
       {% include cv-certifications.html %}
    </div>
</section>

<section id="others">
    <div class="container">
       {% include cv-others.html %}
    </div>
</section>
