---
layout: landing-page
---
{% include home-banner.html %}

<div class="container my-4" style="background-color: white;">
    <h3>Want to know more?</h3>
    <p>Curious about how we can collaborate or still need more convincing?</p>
    <div class="row px-2">
        <div class="col-md-4 col-sm-12 p-1">
            <a class="btn btn-primary btn-block" href="{{ site.baseurl }}/#contact">Contact me</a>
        </div>
        <div class="col-md-4 col-sm-12 p-1">
            <a class="btn btn-primary btn-block" href="{{ site.baseurl }}/blog/">Read my blog</a>
        </div>
        <div class="col-md-4 col-sm-12 p-1">
            <a class="btn btn-primary btn-block" href="{{ site.baseurl }}/portfolio/">View my portfolio</a>
        </div>
    </div>
    <section class="py-2" id="what-i-do">
        <hr>
        {% include what-i-do.html %}
    </section>
    <section class="py-2" id="what-ive-done">
        {% include what-ive-done.html %}
    </section>
    <section class="py-2" id="how-i-do-it">
        {% include how-i-do-it.html %}
    </section>
    <section class="py-2" id="contact">
        {% include contact.html %}
    </section>
    
</div>