---
layout: home
---
<!-- &#10084; &#127760; -->
<div class='container'>
    <h1 style='margin-bottom: 0px' class='color-primary-dark'>Hi! I'm Ben. &#x1f310;</h1>
    <h4 class='font-weight-light color-primary-light'>I provide open spatial and data solutions</h4>
    <br>
    <div class='jumbotron text-center'>
        <h1 class='font-weight-light'>"The goal is to provide best-fit, cost-effective, and sustainable solutions to spatial and data problems using open technologies."</h1>
    </div>
    <h3>Want to know more?</h3>
    <p>Curious about how we can collaborate or still need more convincing?</p>
    <div class='row px-2'>
        <div class='col-md-4 col-sm-12 p-1'>
            <a class='btn btn-primary btn-block' href='{{ site.baseurl }}/#contact'>Contact me</a>
        </div>
        <div class='col-md-4 col-sm-12 p-1'>
            <a class='btn btn-primary btn-block' href='{{ site.baseurl }}/blog/'>Read my blog</a>
        </div>
        <div class='col-md-4 col-sm-12 p-1'>
            <a class='btn btn-primary btn-block' href='{{ site.baseurl }}/portfolio/'>View my portfolio</a>
        </div>
    </div>
    {% include what-i-do.html %}
    {% include how-i-do-it.html %}
    {% include contact.html %}
</div>
