<section id="about">
    <div class="bnhr-container-x pt-1">
        <h1 class="my-2 about-name">Hi, I'm Ben.</h1>
        <p class="about-lead color-accent mb-4">I provide open solutions to spatial and data problems.</p>
        <h2>Why open?</h2>
        <p style="line-height: 1.7;">
            I believe in the democratization of knowledge and technology.<br>
            I believe that people who want to work with or make sense of data and spatial information should be able to do so.<br>
            With open technologies, we can create solutions that are:
        </p>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <!-- <img class="card-img-top" src="{{ site.baseurl }}/media/site/carousel/circus.png" alt="Card image cap"> -->
                    <div class="card-body px-1 py-1">
                        <h4 class="card-title color-primary-dark mt-2">Best-fit</h4>
                        <p class="card-text">
                            Different people have different problems that require different solutions. There is no one-size fits all.
                            <br><br>
                            Bespoke solutions are tailor-fit to your needs because, like suits and dresses, <em>the best solutions rarely come from off-the shelf</em>.
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom">
                    <!-- <img class="card-img-top" src="{{ site.baseurl }}/media/site/carousel/circus.png" alt="Card image cap"> -->
                    <div class="card-body px-1 py-1">
                        <h4 class="card-title color-primary-dark mt-2">Cost-effective</h4>
                        <p class="card-text">
                            Lower your immediate and future costs by saving on license fees and paying only for what you need, when you need it.
                            <br><br>
                            No more overpaying for software -- <em>don't buy the entire toolshed when all you need are three or four tools</em>.
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom">
                    <!-- <img class="card-img-top" src="{{ site.baseurl }}/media/site/carousel/circus.png" alt="Card image cap"> -->
                    <div class="card-body px-1 py-1">
                        <h4 class="card-title color-primary-dark mt-2">Sustainable</h4>
                        <p class="card-text">
                            Lack of single-vendor lock-in and license liabilities.
                            <br><br>
                            Perfect for small organizations (e.g. NGOs, CSOs, newsrooms), local governments, communities, and people in general who are looking for <em>budget-friendly ways to leverage the power of data and spatial information</em>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h2>Want to know more?</h2>
        <p style="line-height: 1.7;">Curious about how we can collaborate or still need more convincing?</p>
        <div class="row px-2">
            <div class="col-md-4 col-sm-12 p-1">
                <a class="btn btn-primary btn-sm btn-block" href="{{ site.baseurl }}#contact">Contact me</a>
            </div>
            <div class="col-md-4 col-sm-12 p-1">
                <a class="btn btn-primary btn-sm btn-block" href="{{ site.baseurl }}/blog/">Read my blog</a>
            </div>
            <div class="col-md-4 col-sm-12 p-1">
                <a class="btn btn-primary btn-sm btn-block" href="{{ site.baseurl }}/portfolio/">View my portfolio</a>
            </div>
        </div>
    <hr class="mt-4">
    </div>
</section>
