<section id="about">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Why open source?</h1>
            <p class="lead"><span class="font-title">BNHR</span> leverages the <span class="color-secondary-dark"><strong><em>power of open source</strong></em></span> to provide you with solutions that are:</p>
            <div class="container">
                <div class="row card-columns">
                    <div class="col-md-4 col-sm-12 p-1">
                        <div class="card card-custom">
                            <img class="card-img-top" src="{{ site.baseurl }}/media/site/carousel/circus.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title color-primary-dark">Best-fit</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 p-1">
                        <div class="card card-custom">
                            <img class="card-img-top" src="{{ site.baseurl }}/media/site/carousel/circus.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title color-primary-dark">Cost-effective</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 p-1">
                        <div class="card card-custom">
                            <img class="card-img-top" src="{{ site.baseurl }}/media/site/carousel/circus.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title color-primary-dark">Sustainable</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <h3>Want to know more?</h3>
            <p>Curious about how we can collaborate or still need more convincing?</p>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 p-1">
                        <a class="btn btn-primary btn-md btn-block" href="#contact">Contact me</a>
                    </div>
                    <div class="col-md-4 col-sm-12 p-1">
                        <a class="btn btn-primary btn-md btn-block" href="{{ site.baseurl }}/blog/">Read my blog</a>
                    </div>
                    <div class="col-md-4 col-sm-12 p-1">
                        <a class="btn btn-primary btn-md btn-block" href="#portfolio">View my portfolio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
