<h1><a class="post-archive-title" href="{{ post.url }}">{{ post.title }}</a></h1>
<p class="post-meta-info">{{ post.date | date_to_string }} ᛫ {{ post.content | number_of_words | divided_by: 300 | plus: 1 }} min read</p>
<p>
    {% for tag in post.tags %}
        <a class="post-meta-tag" href="{{ site.baseurl }}/blog/tags.html#{{ tag | slugify }}"><span>{{ tag }}</span></a>
    {% endfor %}
</p>
<p class="small">{{ post.description | strip_html | truncatewords:100 }}</p>
<p class="small"><a class="btn btn-primary btn-sm" href="{{ post.url }}" >Read more</a></p>
