<section id='contact'>
    <div class='bnhr-container-x'>
        <div class='row'>
            <div class='col-md-6 col-sm-12 pb-4'>
                <h4>Email me at <span class='color-primary-dark'><a class='no-underline-link' id='contact-email' href='mailto:hi@bnhr.xyz'>hi@bnhr.xyz</a></span> or drop a message below</h4>
                <form class='contact-bnhr' method='POST' action='https://formspree.io/hi@bnhr.xyz'>
                    <input type='text' name='name' placeholder='Your name'>
                    <input type='text' name='organization' placeholder='Your organization'>
                    <input type='email' name='_replyto' placeholder='Your email'>
                    <textarea name='message' placeholder='Your message'></textarea>
                    <button class='btn btn-sm btn-primary col-sm-4' type='submit'>SUBMIT</button>
                </form>
            </div>
            <div class='col-md-6 col-sm-12'>
                <h4>You can also find me at:</h4>
                <div class='row d-flex justify-content-between mx-2'>
                    <!-- <div class='col-xs-3'>
                        <div class='box-part text-center'>
                            <a class='no-underline-link' alt='Github' href='{{ site.author.github }}'>
                                <i class='fab fa-github-square contact-icon contact-github'></i>
                            </a>
                        </div>
                    </div> -->
                    <div class='col-xs-3'>
                        <div class='box-part text-center'>
                            <a class='no-underline-link' alt='Messenger' href='{{ site.author.messenger }}'>
                                <i class='fab fa-facebook-messenger contact-icon contact-fb'></i>
                            </a>
                        </div>
                    </div>
                    <div class='col-xs-3'>
                        <div class='box-part text-center'>
                            <a class='no-underline-link' alt='Facebook' href='{{ site.author.facebook }}'>
                                <i class='fab fa-facebook-square contact-icon contact-fb'></i>
                            </a>
                        </div>
                    </div>
                    <div class='col-xs-3'>
                        <div class='box-part text-center'>
                            <a class='no-underline-link' alt='Linkedin' href='{{ site.author.linkedin }}'>
                                <i class='fab fa-linkedin contact-icon contact-linkedin'></i>
                            </a>
                        </div>
                    </div>
                <!-- </div>
                <div class='row d-flex justify-content-around'> -->
                    <div class='col-xs-3'>
                        <div class='box-part text-center'>
                            <a class='no-underline-link' alt='Twitter' href='{{ site.author.twitter }}'>
                                <i class='fab fa-twitter-square contact-icon contact-twitter'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
