<div class="container" style="margin-bottom: -0.5em;">
  <div class="verticalcenter text-center">
    <br />
    <p>
      <a rel="nofollow" href="mailto:{{ site.email }}"><i class="contact-icons fa fa-lg fa-envelope"></i></a>
      <a rel="nofollow" href="https://github.com/{{ site.github_username }}"><i class="contact-icons fa fa-lg fa-github"></i></a>
      <a rel="nofollow" href="https://facebook.com/{{ site.facebook_username }}"><i class="contact-icons fa fa-lg fa-facebook"></i></a>
      <a rel="nofollow" href="https://twitter.com/{{ site.twitter_username }}"><i class="contact-icons fa fa-lg fa-twitter"></i></a>
    </p>
  </div>
</div>
