<section>
  <div class="container">
    <div class="verticalcenter text-center">
      <br />
      <p>
        <a rel="nofollow" href="mailto:bhs.pintor@gmail.com"><i class="contact-icons fa fa-2x fa-envelope"></i></a>
        <a rel="nofollow" href="https://github.com/bnhr07b/"><i class="contact-icons fa fa-2x fa-github"></i></a>
        <a rel="nofollow" href="https://facebook.com/benhur07b/"><i class="contact-icons fa fa-2x fa-facebook"></i></a>
        <a rel="nofollow" href="https://twitter.com/benhur07b/"><i class="contact-icons fa fa-2x fa-twitter"></i></a>
      </p>
    </div>
  </div>
</section>
