<hr class="py-2">
<div class="row">
    <div class="col-md-6 col-smx-4 py-2">
        <h4 class="mt-0 font-weight-light color-primary-dark mb-4">Email me at <a class="bnhr-link" id="contact-email" href="mailto:hi@bnhr.xyz"><strong>hi@bnhr.xyz</strong></a> or drop a message below</h4>
        <form class="contact-bnhr" method="POST" action="https://formspree.io/hi@bnhr.xyz">
            <input type="text" name="name" placeholder="Your name">
            <input type="text" name="organization" placeholder="Your organization">
            <input type="email" name="_replyto" placeholder="Your email">
            <textarea name="message" placeholder="Your message"></textarea>
            <button class="btn bnhr-link-bg col-sm-6" type="submit"><strong>SUBMIT</strong></button>
        </form>
    </div>
    <div class="col-md-6 col-smx-4 py-2">
        <h4 class="mt-0 font-weight-light color-primary-dark mb-4">You can also find me at:</h4>
        <p><a class="reverse-bnhr-link" href="https://m.me/{{ site.messenger }}"><i class="fab fa-2x fa-facebook-messenger my-2 ml-4 mr-2 contact-fb"></i>m.me/{{ site.messenger }}</a></p>
        <p><a class="reverse-bnhr-link" href="https://facebook.com/{{ site.facebook }}"><i class="fab fa-2x fa-facebook-square my-2 ml-4 mr-2 contact-fb"></i>@{{ site.facebook }}</a></p>
        <p><a class="reverse-bnhr-link" href="https://twitter.com/{{ site.twitter }}"><i class="fab fa-2x fa-twitter-square my-2 ml-4 mr-2 contact-twitter"></i>@{{ site.twitter }}</a></p>
        <p><a class="reverse-bnhr-link" href="https://linkedin.com/in/{{ site.linkedin }}"><i class="fab fa-2x fa-linkedin my-2 ml-4 mr-2 contact-linkedin"></i>@{{ site.linkedin }}</a></p>
        <p><a class="reverse-bnhr-link" href="https://github.com/{{ site.github }}"><i class="fab fa-2x fa-github my-2 ml-4 mr-2 contact-github"></i>@{{ site.github }}</a></p>
    </div>
</div>
