<section id="other-courses">
    <hr class="pt-4 mt-4 mb-0">
    <!-- <section id="upcoming-courses-spatial">
        <h2 class="pt-4">Upcoming Courses (Spatial)</h2>
        {% include courses-upcoming-spatial.html %}
    </section>
    
    <section id="course-offerings-spatial">
        <h2 class="pt-4">Other Course Offerings (Spatial)</h2>
        {% include courses-offerings-spatial.html %}
    </section> -->
    <p>I also do in-house/on-premise training. <a href="{{ site.baseurl }}/#contact" class="font-weight-bold bnhr-link">Contact me</a> if you want to bring the training to your organization or group.</p>

    <h3>You might also want to check out our other <a class="bnhr-link" href="{{ site.baseurl }}/services">services</a> or our other course offerings for the <a class="bnhr-link" href="{{ site.baseurl }}/services/training/spatial">spatial</a> and <a class="bnhr-link" href="{{ site.baseurl }}/services/training/data-literacy">data literacy</a> tracks.</h3>
</section>