<h3 class="cv-header">CORE PROFESSIONAL COMPETENCIES</h3>
    <ol style="list-style-type: square;" class="cv-text">
        <li>A geospatial generalist and software developer with a solid foundation on Geographic Information Systems (GIS), Remote Sensing (RS), Python Programming, and Free and Open Source Software (FOSS)</li>
        <li>Strong background in developing software and bespoke GIS/mapping applications (desktop, web, mobile), integrating GIS with existing systems, and providing technical support and training with an expertise on Free and Open Source Software for Geospatial (FOSS4G) applications</li>
        <li>Can work with and manage a team in an Agile, research-oriented, and multi-stakeholder environment</li>
        <li>Comfortable with public speaking, dialoguing with top-level officials and executives, and coordinating with the public and private sector</li>
        <li>Adept at leveraging GIS and FOSS in research and development work</li>
    </ol>
