<h3 class="cv-header">core professional competencies</h3>
    <ol style="list-style-type: square;" class="cv-text">
        <li>A geomatics specialist and software developer with a solid foundation on the principles of Geographic Information Systems (GIS), Remote Sensing (RS), Python programming, and Free-and-Open-Source Software (FOSS)</li>
        <li>Strong background in developing software and custom GIS applications (desktop, web, mobile), integrating GIS with existing systems, and providing technical support and training with an expertise on Free-and-Open-Source for Geospatial (FOSS4G) applications</li>
        <li>Can work with or manage a team in a research-oriented, multi-stakeholder environment</li>
        <li>Experienced in project management and coordination with both the public and private sectors</li>
        <li>Comfortable with public speaking and dialoguing with top-level officials and executives</li>
        <li>Adept at leveraging GIS and FOSS in research and development work</li>
    </ol>
