<section id="education">
    <h3>education</h3>
    <div class="container">
        <ul class="timeline">
            <li class="timeline-item period">
                <div class="timeline-info"></div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h2 class="timeline-title">National Graduate School of Engineering</h2>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>2015 - present</span>
                </div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h4 class="timeline-title mt-1">MS Geomatics Engineering (GeoInformatics)</h4>
                    <p>
                        <span class="tl-project-name">-----</span>
                        <br><span class="tl-acts"><b>Coursework</b></span>
                        <br><span class="tl-acts">Principles of Geographic Information Systems</span>
                        <br><span class="tl-acts">Advanced GIS</span>
                        <br><span class="tl-acts">Spatial Databases</span>
                        <br><span class="tl-acts">Object-oriented Programming for Geomatic Applications</span>
                        <br><span class="tl-acts">Principles of Remote Sensing</span>
                        <br><span class="tl-acts">Spatial Visualization</span>
                        <br><span class="tl-acts">Environmental Hazards and Disaster Management</span>
                    </p>
                </div>
            </li>
            <li class="timeline-item period">
                <div class="timeline-info"></div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h2 class="timeline-title">UP College of Law</h2>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>2015 - present</span>
                </div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h4 class="timeline-title mt-1">Juris Doctor</h4>
                    <p>
                        <span class="tl-project-name">-----</span>
                        <br><span class="tl-acts"><b>On-hold</b></span>
                    </p>
                </div>
            </li>
            <li class="timeline-item period">
                <div class="timeline-info"></div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h2 class="timeline-title">UP College of Engineering</h2>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>2014</span>
                </div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h4 class="timeline-title mt-1">BS Geodetic Engineering</h4>
                    <p>
                        <span class="tl-project-name">-----</span>
                        <br><span class="tl-acts"><b>Undergraduate Research Project</b></span>
                        <br><span class="tl-acts">CourtVisionPH: A System for the Extraction of Field Goal Attempt Locations and Spatial Analysis of Shooting using Broadcast Basketball Videos</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
