<h3 class="cv-header">experience</h3>
<p class="cv-text"><strong>Dec 2016 – present: Computer Programmer, Child-Centered Participatory Approaches and GIS for Disaster Risk Reduction Phase 2 (CPAG-DDR 2)</strong></p>
<ol style="list-style-type: square;" class="cv-text">
   <li>Developed a QGIS plugin that performs Multi-Hazard Child Vulnerability Analysis and Mapping using different indicators</li>
   <li><a href="https://github.com/bnhr07b/mhcvam">https://github.com/bnhr07b/mhcvam</a></li>
</ol>
<br>
<p class="cv-text"><strong>July 2014 – present: Research Associate, Phil-LiDAR 2 Project 5 - Philippine Renewable Energy Resource Mapping from LiDAR Surveys (REMap)</strong></p>
<ol style="list-style-type: square;" class="cv-text">
  <li>Developed RS-based and GIS-based methodologies for assessing the solar energy resource and  selecting suitable sites for solar PV installations in the Philippines.</li>
  <li>Mentored partner institutions on the workflows and methodologies developed by the project.</li>
  <li>Conducted fieldworks for installing pyranometers across the Philippines.</li>
  <li>Wrote an automation script that decreased the processing time of the solar energy model by 33%.</li>
  <li>Created a web-scraping tool for downloading Linke turbidity coefficient values (<a href="https://github.com/benhur07b/remap-solar-download-linke">https://github.com/benhur07b/remap-solar-download-linke</a>) and weather station data in the Philippines.</li>
  <li>Developed scripts for the analysis and summarization of the solar radiation data from the project’s pyranometers (<a href="https://github.com/benhur07b/remap-solar-pyranometer-data-analysis">https://github.com/benhur07b/remap-solar-pyranometer-data-analysis</a>).</li>
  <li>Handled the implementation of GeoNode in the project (<a href="https://remap.dream.upd.edu.ph">https://remap.dream.upd.edu.ph</a>).</li>
 </ol>
<br>
<p class="cv-text"><strong>Others</strong></p>
<ol style="list-style-type: square;" class="cv-text">
      <li>Served as lead web developer for the following websites:</li>
   <ol style="list-style-type: circle;" class="cv-text">
       <li><a href="http://bongabon.ph">Official Website of the Municipality of Bongabon, Nueva Ecija</a></li>
       <li><a href="http://hopeforlupus.org.ph">Official Website of the Hope for Lupus Foundation, Inc</a></li>
       <li><a href="http://imus.gov.ph">Official Website of the City of Imus, Cavite</a></li>
   </ol>
</ol>
