<section id="experience">
    <h3>experience</h3>
    <div class="container">
        <ul class="timeline">
            <li class="timeline-item period">
                <div class="timeline-info"></div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h2 class="timeline-title">Individual engagements</h2>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>DEC 2018 - present</span>
                </div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h4 class="timeline-title mt-1">GIS Specialist</h4>
                    <p>
                        Philippine Geographical Society
                        <br><span class="tl-project-name"><em>Counter-mapping for peri-urban social justice: accounting for spatial narratives of community resistance and dispossession in urban transition</em></span>
                        <br><span class="tl-project-name">-----</span>
                        <br><span class="tl-acts"><b>Prepare and design</b> the mapping activities and methodology</span>
                        <br><span class="tl-acts"><b>Facilitate</b> community-based, participatory mapping initiatives</span>
                        <br><span class="tl-acts"><b>Collect and consolidate</b> relevant primary and secondary data</span>
                        <br><span class="tl-acts"><b>Create</b> a spatial database for storing and processing data</span>
                        <br><span class="tl-acts"><b>Develop</b> the website for the project</span>
                    </p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>NOV 2018 - present</span>
                </div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h4 class="timeline-title mt-1">GIS Specialist</h4>
                    <p>
                        Cerebro Innovators and Accelerators, Inc.
                        <br><span class="tl-project-name">-----</span>
                        <br><span class="tl-acts"><b>Provide</b> geospatial services, support, and solutions using RS/GIS and Simularity’s AIADS (Automated Image Anomaly Detection System)</span>
                        <br><span class="tl-acts"><b>Develop</b> a QGIS plugin to run AIADS in QGIS</span>
                    </p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>OCT 2018 - present</span>
                </div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h4 class="timeline-title mt-1">Consultant</h4>
                    <p>
                        Royal Haskoning DHV
                        <br><span class="tl-project-name"><em>ADB Spatial Data Analysis Explorer (ADB-SPADE)</em></span>
                        <br><span class="tl-project-name">-----</span>
                        <br><span class="tl-acts"><b>Provide</b> maintenance and support services for the SPADE web application (GeoNode) developed for the Asian Development Bank (ADB) which involves troubleshooting and solving issues related to the SPADE application and its components (Geoserver, Postgres, PostGIS, Django, Leaflet, AWS)</span>
                        <br><span class="tl-acts"><b>Provide</b> technical support for SPADE data administration (user account management, data upload, etc.)</span>
                    </p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>AUG 2018 - present</span>
                </div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h4 class="timeline-title mt-1">Geospatial Analysis Consultant</h4>
                    <p>
                        Thinking Machines Data Science, Inc.
                        <br><span class="tl-project-name">-----</span>
                        <br><span class="tl-acts"><b>Provide</b> needs-based training and consulting services on open-source geospatial software and technologies including PostGIS, QGIS, GDAL/OGR, and Mapbox</span>
                    </p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>JAN 2018 - APR 2018</span>
                </div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h4 class="timeline-title mt-1">Technical Service Provider</h4>
                    <p>
                        The CBCP - Caritas Filipinas Foundation, Inc.
                        <br><span class="tl-project-name"><em>Digitized Community Disaster Risk Mapping and Information for Efficient Humanitarian Response and Development Programming in the Philippines (#DigitalPH) Project</em></span>
                        <br><span class="tl-project-name">-----</span>
                        <br><span class="tl-acts"><b>Developed</b> methods to digitize the results of NASSA/Caritas Philippines Participatory Disaster Risk Assessment (PDRA) into usable and shareable GIS-ready formats leveraging Open Data Kit and QGIS</span>
                        <br><span class="tl-acts"><b>Developed</b> a <a class="no-underline-link" href="https://github.com/benhur07b/caritaspdra">QGIS plugin</a> for analysis of PDRA data</span>
                        <br><span class="tl-acts"><b>Developed</b> a <a class="no-underline-link" href="https://bnhr.xyz/caritas-pdra-webmap/index.html">webmap</a> for showing the results of the PDRA</span>
                        <br><span class="tl-acts"><b>Trained</b> NASSA/Caritas Philippines staff and other stakeholders on the use of QGIS and Open Data Kit</span>
                    </p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>AUG 2017 - SEP 2017</span>
                </div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h4 class="timeline-title mt-1">GIS Systems Developer</h4>
                    <p>
                        International City/County Management Association (ICMA)
                        <br><span class="tl-project-name"><em>Strengthening Urban Resilience through Growth and Equity (SURGE) Project</em></span>
                        <br><span class="tl-project-name">-----</span>
                        <br><span class="tl-acts"><b>Provided</b> technical assistance to Zamboanga City in developing a Centralized Geographic Information Management System (CGIMS) -- a platform for different local government agencies to share geospatial data and perform geospatial applications (mapping, analysis, etc.) -- using GeoNode</span>
                    </p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>DEC 2016 - JUN 2017</span>
                </div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h4 class="timeline-title mt-1">Computer Programmer</h4>
                    <p>
                        Philippine Geographical Society
                        <br><span class="tl-project-name"><em>Child-Centered Participatory Approaches and GIS for Disaster Risk Reduction Phase 2 (CPAG-DDR 2)</em></span>
                        <br><span class="tl-project-name">-----</span>
                        <br><span class="tl-acts"><b>Developed</b> a <a class="no-underline-link" href="https://github.com/benhur07b/mhcvam">QGIS plugin</a> that performs Multi-Hazard Child Vulnerability Analysis and Mapping using different indicators such as exposure, vulnerability, and capacity</span>
                    </p>
                </div>
            </li>
            <li class="timeline-item period">
                <div class="timeline-info"></div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h2 class="timeline-title">IAMBlueCECAM: BlueWebMaps</h2>
                    <p class="tl-project-name">WebGIS for Mapping, Supporting Decision- making, and Promoting Ecological Services of Blue Carbon Ecosystems</p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>OCT 2017 - DEC 2018</span>
                </div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h4 class="timeline-title mt-1">Senior Science Research Specialist</h4>
                    <p>
                        <span class="tl-project-name">-----</span>
                        <br><span class="tl-acts"><b>Conducted</b> research and development of  webGIS and visualization tools, applications, and methods for the management and conservation of Blue Carbon ecosystems in the Philippines.
                    </p>
                </div>
            </li>
            <li class="timeline-item period">
                <div class="timeline-info"></div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h2 class="timeline-title">Phil-LiDAR 2: REMap</h2>
                    <p class="tl-project-name">Philippine Renewable Energy Resource Mapping from LiDAR Surveys</p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>JUL 2017 - SEP 2017</span>
                </div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h4 class="timeline-title mt-1">Senior Science Research Specialist</h4>
                    <p>
                        <span class="tl-project-name">-----</span>
                        <br><span class="tl-acts"><b>Led</b> the development of the project’s webGIS application (using Django, PostGIS, Leaflet, etc) whose main function is to allow users to determine the potential energy resource and site suitability in an area based on the data products of REMap
                    </p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>JUN 2014 - JUN 2017</span>
                </div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h4 class="timeline-title mt-1">Science Research Specialist II</h4>
                    <p>
                        <span class="tl-project-name">-----</span>
                        <br><span class="tl-acts"><b>Developed</b> RS-based and GIS-based methodologies for assessing the solar energy resource and selecting suitable sites for solar PV installations in the Philippines</span>
                        <br><span class="tl-acts"><b>Wrote</b> a <a class="no-underline-link" href="https://github.com/benhur07b/r.sun.remap.clear.monthly">GRASS add-on</a> that decreased the processing time of the solar energy model by 33%</span>
                        <br><span class="tl-acts"><b>Created</b> a <a class="no-underline-link" href="https://github.com/benhur07b/remap-solar-download-linke">web-scraping tool</a> for downloading Linke turbidity coefficient values and weather station data in the Philippines</span>
                        <br><span class="tl-acts"><b>Developed</b> <a class="no-underline-link" href="https://github.com/benhur07b/remap-solar-pyranometer-data-analysis">scripts</a> for the analysis and summarization of the solar radiation data from the project’s pyranometers</span>
                        <br><span class="tl-acts"><b>Mentored</b> partner institutions on the workflows and methodologies developed by the project</span>
                        <br><span class="tl-acts"><b>Provided</b> GIS trainings to partners and stakeholders of the project</span>
                        <br><span class="tl-acts"><b>Conducted</b> fieldworks for installing pyranometers across the Philippines</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
