<h3 class="cv-header">EDUCATION</h3>
<p class="cv-text">
    <span class="cv-title">MS Geomatics Engineering (GeoInformatics)</span>
    <br><span class="cv-title-black">National Graduate School of Engineering (NGSE)</span>
    <br>2015 - present
    <ol style="list-style-type: square;" class="cv-text">
        <li>Coursework include:
            <ol style="list-style-type: circle;" class="cv-text">
                <li>Principles of Geographic Information Systems</li>
                <li>Object-oriented Programming for Geomatic Applications</li>
                <li>Spatial Databases</li>
                <li>Spatial Visualization</li>
                <li>Principles of Remote Sensing</li>
            </ol>
        </li>
    </ol>
</p>
<p class="cv-text">
    <span class="cv-title">Juris Doctor</span>
    <br><span class="cv-title-black">UP College of Law</span>
    <br>2015 - present (on hold)
</p>
<p class="cv-text">
    <span class="cv-title">BS Geodetic Engineering</span>
    <br><span class="cv-title-black">UP College of Engineering</span>
    <br>2014
    <ol style="list-style-type: square;" class="cv-text">
        <li><span class="cv-title-black">Undergraduate Research Project:</span> CourtVisionPH: A System for the Extraction fo Field Goal Attempt Locations and Spatial Analysis of Shooting using Broadcast Basketball Videos</li>
    </ol>
</p>
