<h3 class="cv-header">education</h3>
<p class="cv-text">
    <strong class="cv-title">MS Geomatics Engineering (GeoInformatics)</strong>
    <br><strong class="cv-title-black">National Graduate School of Engineering (NGSE)</strong>
    <br>2015 - present
    <ol style="list-style-type: square;" class="cv-text">
        <li>Relevant Coursework:
            <ol style="list-style-type: circle;" class="cv-text">
                <li>Principles of Geographic Information Systems</li>
                <li>Object-oriented Programming for Geomatic Applications</li>
                <li>Principles of Remote Sensing</li>
            </ol>
        </li>
    </ol>
</p>
<p class="cv-text">
    <strong class="cv-title">Juris Doctor</strong>
    <br><strong class="cv-title-black">UP College of Law</strong>
    <br>2015 - present (on hold)
</p>
<p class="cv-text">
    <strong class="cv-title">BS Geodetic Engineering</strong>
    <br><strong class="cv-title-black">UP College of Engineering</strong>
    <br>2014
</p>
