<h3 class="cv-header">experience<h3>
<h5 class="cv-header-2">Individual Consultancy and Engagements</h5>
<p class="cv-text">
    <strong>GIS Systems Developer</strong>
    <br><i>USAID - International City/County Management Association (ICMA)</i>
    <br>Strengthening Urban Resilience through Growth and Equity (SURGE) Project
    <br>Aug 2017 – present
    <ol style="list-style-type: square;" class="cv-text">
        <li>Provides technical assistance in establishing a Centralized Geographic Information Management System (CGIMS) in Zamboanga City</li>
        <li>Assessed the existing infrastructure and technical requirements needed for implementing the CGIMS</li>
    </ol>
</p>
<p class="cv-text">
    <strong>Computer Programmer</strong>
    <br><i>UNICEF – Philippine Geographical Society (PGS)</i>
    <br>Child-Centered Participatory Approaches and GIS for Disaster Risk Reduction Phase 2 (CPAG-DDR 2)
    <br>Dec 2016 – Jun 2017
    <ol style="list-style-type: square;" class="cv-text">
        <li>Developed a QGIS plugin that performs Multi-Hazard Child Vulnerability Analysis and Mapping using different indicators.</li>
        <li><a href="https://github.com/benhur07b/mhcvam">https://github.com/benhur07b/mhcvam</a></li>
    </ol>
</p>
<p class="cv-text">
    <strong>Lead Web Developer</strong>
    <ol style="list-style-type: square;" class="cv-text">
        <li><a href="http://bongabon.ph">Municipality of Bongabon, Nueva Ecija</a></li>
        <li><a href="http://www.imus.gov.ph">City of Imus, Cavite</a></li>
        <li><a href="http://hopeforlupus.org.ph">Hope for Lupus Foundation, Inc.</a></li>
        <li><a href="http://hwbasiapacific.net">H&WB Asia Pacific (Pte Ltd) Corporation</a></li>
    </ol>
</p>
<br>
<h5 class="cv-header-2">Philippine Renewable Energy Resource Mapping from LiDAR Surveys (Phil-LiDAR 2: REMap)</h5>
<p class="cv-text">
    <strong>Senior Science Research Specialist</strong>
    <br>Jul 2017 – present
    <ol style="list-style-type: square;" class="cv-text">
        <li>Leads the development of the project’s webGIS application (using Django, PostGIS, Leaflet, etc).</li>
    </ol>
</p>
<p class="cv-text">
    <strong>Research Associate</strong>
    <br>Jun 2014 – Jun 2017
    <ol style="list-style-type: square;" class="cv-text">
        <li>Developed RS-based and GIS-based methodologies for assessing the solar energy resource and selecting suitable sites for solar PV installations in the Philippines.</li>
        <li>Wrote an automation script that decreased the processing time of the solar energy model by 33%. (<a href="https://github.com/benhur07b/r.sun.remap.clear.monthly">https://github.com/benhur07b/r.sun.remap.clear.monthly</a>)</li>
        <li>Created a web-scraping tool for downloading Linke turbidity coefficient values (<a href="https://github.com/benhur07b/remap-solar-download-linke">https://github.com/benhur07b/remap-solar-download-linke</a>) and weather station data in the Philippines.</li>
        <li>Developed scripts for the analysis and summarization of the solar radiation data from the project’s pyranometers. (<a href="https://github.com/benhur07b/remap-solar-pyranometer-data-analysis">https://github.com/benhur07b/remap-solar-pyranometer-data-analysis</a>)</li>
        <li>Handled the implementation of GeoNode in the project (<a href="https://remap.dream.upd.edu.ph">https://remap.dream.upd.edu.ph</a>)</li>
        <li>Mentored partner institutions on the workflows and methodologies developed by the project.</li>
        <li>Provided GIS trainings to partners and stakeholders of the project</li>
        <li>Conducted fieldworks for installing pyranometers across the Philippines.</li>
    </ol>
</p>
