<section id="fellowships">
    <h3>fellowships</h3>
    <div class="container">
        <ul class="timeline">
            <li class="timeline-item period">
                <div class="timeline-info"></div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h2 class="timeline-title">School of Data</h2>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>Mar 2019 - present</span>
                </div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h4 class="timeline-title mt-1">Data Expert</h4>
                    <p>
                        <span class="tl-project-name">-----</span>
                        <br><span class="tl-acts"><b>Provide</b> technical support and expert assistance to Hivos and their local partners working on data and open contracting projects</span>
                        <br><span class="tl-acts"><b>Help</b> raise the level of data literacy of the partner organizations, support them in delivering tangible and sustainable data projects, and foster a connection between the partner organisation and the local data community</span>
                    </p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>Jun 2018 - Jan 2019</span>
                </div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h4 class="timeline-title mt-1">Data Fellow</h4>
                    <p>
                        <span class="tl-project-name">-----</span>
                        <br><span class="tl-acts"><b>Selected</b> as the <a class="no-underline-link" href="https://schoolofdata.org/2018/06/22/introducing-the-2018-class-of-school-of-data-fellows/">2018 School of Data Fellow for the Philippines</a></span>
                        <br><span class="tl-acts"><b>Deepened</b> my data literacy skills, worked alongside local partner organisations, and enhanced the local data literacy network through the <a class="no-underline-link" href="https://schoolofdata.org/fellowship-programme/">Fellowship Programme</a></span>
                        <br><span class="tl-acts"><b>Worked</b> with School of Data and its local partners in the Philippines on projects related to data literacy, public procurement, open contracting, and government transparency, openness, and accountability</b>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
