<h3 class="cv-header">FELLOWSHIPS AND SCHOLARSHIPS<h3>
<p class="cv-text">
    <span class="cv-title">School of Data Fellow</span>
    <br><span class="cv-title-black">School of Data</span>
    <br>Jun 2018 – present
    <ol style="list-style-type: square;" class="cv-text">
        <li>Selected as the <a href="https://schoolofdata.org/2018/06/22/introducing-the-2018-class-of-school-of-data-fellows/">2018 School of Data Fellow for the Philippines</a>.</li>
        <li>The <a href="https://schoolofdata.org/fellowship-programme/">Fellowship Programme</a> allows fellows to deepen their data literacy skills and work alongside local partner organisations to enhance the data literacy network local to them.</li>
        <li>Currently working with School of Data and its local partners in the Philippines on projects related to data literacy, public procurement, and the Open Contracting Data Standard.</li>
    </ol>
</p>
