<h3 class="cv-header">research papers and presentations</h3>
  <span class="cv-title"><strong>The 36th Asian Conference on Remote Sensing (ACRS), Metro Manila, Philippines (Oct. 19-24, 2015)</strong></span>
    <p class="cv-text"><em>The Resolution Dilemma: Finding the Optimum DEM Resolution for Large-Scale Solar Energy Resource Assessment using r.sun</em>
    <ol style="list-style-type: square;" class="cv-text">
      <li>Analyzed the effect of using different DEMs as inputs to the r.sun solar energy model</li>
    </ol>
  </p>
  <br>
  <span class="cv-title"><strong>FOSS4G (Free and Open-Source for Geospatial) 2015 Conference, Seoul, South Korea (Sept. 14-19, 2015)</strong></span>
    <p class="cv-text"><em>Solar Energy Resource Assessment using r.sun in GRASS GIS and Site Suitability Analysis using AHP for Ground-mounted Solar Photovoltaic (PV) Farms in the Central Luzon Region (Region 3), Philippines</em>
    <ol style="list-style-type: square;" class="cv-text">
      <li>Assessed the solar energy resource in the Central Luzon Region using the r.sun solar raditaion model in GRASS GIS and determined suitable sites for ground-mounted solar PV farms</li>
    </ol>
    </p>
  <p class="cv-text"><em>CourtVisionPH: A System for the Extraction fo Field Goal Attempt Locations and Spatial Analysis of Shooting using Broadcast Basketball Videos</em>
    <ol style="list-style-type: square;" class="cv-text">
      <li>Designed and developed a system using Python that extracts field goal attempt locations from broadcast basketball videos, performs spatial analysis of shooting, and presents the results of the analysis using statistics and visualizations</li>
      <li><a href="https://vimeo.com/145083457">https://vimeo.com/145083457</a></li>
    </ol>
    </p>
