<h3 class="cv-header">PAPERS AND PRESENTATIONS</h3>
  <p class="cv-text">
    <span class="cv-title">The Resolution Dilemma: Finding the Optimum DEM Resolution for Large-Scale Solar Energy Resource Assessment using r.sun</span>
    <br>
    <span class="cv-title-black">The 36th Asian Conference on Remote Sensing (ACRS)</span>
    <br>
    Metro Manila, Philippines (Oct 19-24, 2015)
    <ol style="list-style-type: square;" class="cv-text">
      <li>Analyzed the effect of using different DEMs as inputs to the r.sun solar energy model</li>
    </ol>
  </p>
  <p class="cv-text">
    <span class="cv-title">CourtVisionPH: A System for the Extraction fo Field Goal Attempt Locations and Spatial Analysis of Shooting using Broadcast Basketball Videos</span>
    <br>
    <span class="cv-title-black">FOSS4G (Free and Open-Source for Geospatial) 2015 Conference</span>
    <br>
    Seoul, South Korea (Sep 14-19, 2015)
    <ol style="list-style-type: square;" class="cv-text">
      <li>Designed and developed a system using Python that extracts field goal attempt locations from broadcast basketball videos, performs spatial analysis of shooting, and presents the results of the analysis using statistics and visualizations</li>
      <li><a href="https://vimeo.com/145083457">https://vimeo.com/145083457</a></li>
    </ol>
    </p>
  <p class="cv-text">
    <span class="cv-title">Solar Energy Resource Assessment using r.sun in GRASS GIS and Site Suitability Analysis using AHP for Ground-mounted Solar Photovoltaic (PV) Farms in the Central Luzon Region (Region 3), Philippines</span>
    <br>
    <span class="cv-title-black">FOSS4G (Free and Open-Source for Geospatial) 2015 Conference</span>
    <br>
    Seoul, South Korea (Sep 14-19, 2015)
    <ol style="list-style-type: square;" class="cv-text">
      <li>Assessed the solar energy resource in the Central Luzon Region using the r.sun solar raditaion model in GRASS GIS and determined suitable sites for ground-mounted solar PV farms</li>
  </ol>
  </p>
