<h3 class="cv-header">SKILLS</h3>
<p class="cv-text">
<ul>
    <li><span class="cv-title-black">RS/GIS Stack:</span><span class="cv-text"> QGIS, GRASS GIS, ArcGIS, ENVI, GDAL, PostgreSQL + PostGIS, Leaflet, OpenLayers, GeoNode, Geoserver, Mapbox</li></span>
    <li><span class="cv-title-black">Programming:</span><span class="cv-text"> Python, Bash, R, PHP</li></span>
    <li><span class="cv-title-black">Web-Development:</span><span class="cv-text"> HTML, CSS, Sass, JS, JQuery, Django</li></span>
    <li><span class="cv-title-black">Project Management:</span><span class="cv-text"> Git, Slack, Trello, Vagrant, Docker</li></span>
    <li><span class="cv-title-black">Operating System:</span><span class="cv-text"> GNU/Linux, Windows, OSX</li></span>
    <li><span class="cv-title-black">Surveying:</span><span class="cv-text"> Unmanned Aerial Vehicles (UAV), GPS, Total Station, Level</li></span>
    <li><span class="cv-title-black">Others:</span><span class="cv-text"> LibreOffice, MS Office, LibreCAD, OpenDataKit</li></span>
</ul>
</p>
