<h3 class="cv-header">skills</h3>
<p class="cv-text">
<ul>
    <li><strong class="cv-title-black">RS/GIS Stack:</strong> QGIS, GRASS GIS, ArcGIS, ENVI, PostgreSQL + PostGIS, Leaflet, OpenLayers, GeoNode, GeoServer</li>
    <li><strong class="cv-title-black">Programming:</strong> Python, Bash, Ruby, PHP</li>
    <li><strong class="cv-title-black">Web-Development:</strong> HTML, CSS, Sass, JS, JQuery, Django, Wordpress</li>
    <li><strong class="cv-title-black">Project Management:</strong> Git, Slack, Trello</li>
    <li><strong class="cv-title-black">Operating System:</strong> GNU/Linux, Windows, OSX</li>
    <li><strong class="cv-title-black">Surveying:</strong> Unmanned Aerial Vehicles (UAV), GPS, Total Station, Level</li>
    <li><strong class="cv-title-black">Others:</strong> LibreOffice, MS Office, LibreCAD, OpenDataKit</li>
</ul>
</p>
