<h3 class="cv-header">workshops and talks presented</h3>
  <p class="cv-text">
    <strong class="cv-title-black">GIS Workshop</strong>
    <br>
    <em>University of the Philippines in the Visayas – Iloilo. (Jun. 5-9, 2017)</em>
      <ol style="list-style-type: square;" class="cv-text">
        <li>Facilitated the GIS workshop of Local Government Units (LGU) using QGIS under the USAID Strengthening Urban Resilience for Growth and Equity (SURGE) Project on topics such as:</li>
          <ol>
            <li>Basic GIS Data Creation and Managstrongent Concepts and Techniques</li>
            <li>Applications of Basic GIS Analysis Concepts and Techniques</li>
            <li>Basic Mapping and Visualization Concepts and Techniques</li>
          </ol>
        </ol>
  </p>
  <p class="cv-text">
    <strong class="cv-title-black">FOSS as an Option</strong>
    <br>
    <em>GIS Enterprise Workshop, KORPHIL, QCPU compund, Brgy. San Bartolome, Novaliches, QC (Jul. 5, 2016)</em>
      <ol style="list-style-type: square;" class="cv-text">
        <li>Discussed the philosophy of Free-and-Open-Source Software and the advantages of using FOSS4G for geospatial projects</li>
        <li>Slides available here: <a href="https://benhur07b.github.io/foss4g-talk-qc-itdo/">https://benhur07b.github.io/foss4g-talk-qc-itdo/</a></li>
      </ol>
  </p>
  <p class="cv-text">
    <strong class="cv-title-black">Introduction to GRASS GIS and Scripting in GRASS using Python</strong>
    <br>
    <em>FOSS4G-PH (Free and Open Source for Geospatial - Philippines) 2016, University of the Philippines Diliman, Quezon City (Apr. 22, 2016)</em>
      <ol style="list-style-type: square;" class="cv-text">
        <li>Discussed the history of GRASS GIS and its differences, advantages, and disadvantages over other GI.S</li>
        <li>Instructed the participants on how to use GRASS for different GIS processing and analysis</li>
        <li>Taught the participants how to create scripts in GRASS using Python</li>
        <li>Workshop available here: <a href="https://benhur07b.github.io/foss4gph2016-workshop-grass/">https://benhur07b.github.io/foss4gph2016-workshop-grass/</a></li>
      </ol>
  </p>
