<h3 class="cv-header">workshops and talks presented</h3>
  <span class="cv-title"><strong>FOSS as an Option</strong></span>
  <p class="cv-text"><em>GIS Enterprise Workshop, KORPHIL, QCPU compund, Brgy. San Bartolome, Novaliches, QC (Jul. 5, 2016)</em>
    <ol style="list-style-type: square;" class="cv-text">
      <li>Discussed the philosophy of Free-and-Open-Source Software and the advantages of using FOSS4G for geospatial projects</li>
      <li>Slides available here: <a href="https://bnhr07b.github.io/foss4g-talk-qc-itdo/">https://bnhr07b.github.io/foss4g-talk-qc-itdo/</a></li>
    </ol>
  </p>
<br>
  <span class="cv-title"><strong>Introduction to GRASS GIS and Scripting in GRASS using Python</strong></span>
  <p class="cv-text"><em>FOSS4G-PH (Free and Open Source for Geospatial - Philippines) 2016, University of the Philippines Diliman, Quezon City (Apr. 22, 2016)</em>
    <ol style="list-style-type: square;" class="cv-text">
      <li>Discussed the history of GRASS GIS and its differences, advantages, and disadvantages over other GI.S</li>
      <li>Instructed the participants on how to use GRASS for different GIS processing and analysis</li>
      <li>Taught the participants how to create scripts in GRASS using Python</li>
      <li>Workshop available here: <a href="https://bnhr07b.github.io/foss4gph2016-workshop-grass/">https://bnhr07b.github.io/foss4gph2016-workshop-grass/</a></li>
    </ol>
  </p>
