<section class='py-4' id='certifications'>
    <h2>certifications</h2>
    <ul class='timeline'>
        <li class='timeline-item period'>
            <div class='timeline-info'></div>
            <div class='timeline-marker'></div>
            <div class='timeline-content'>
                <h3 class='timeline-title'>Professional Licenses</h3>
            </div>
        </li>
        <li class='timeline-item'>
            <div class='timeline-info'>
                <span class='small'>AUG 2014</span>
            </div>
            <div class='timeline-marker'></div>
            <div class='timeline-content'>
                <h4 class='timeline-title mt-1'>Geodetic Engineers Licensure Examination</h4>
                <p class='small-line-height'>
                    -----
                    <br><b>Rating: 85.00</b> (TOP 7)
                </p>
            </div>
        </li>
    </ul>
</section>
