<section class='my-4' id='fellowships'>
    <h2>fellowships</h2>
    <ul class='timeline'>
        <li class='timeline-item period'>
            <div class='timeline-info'></div>
            <div class='timeline-marker'></div>
            <div class='timeline-content'>
                <h3 class='timeline-title'>School of Data</h3>
            </div>
        </li>
        <li class='timeline-item'>
            <div class='timeline-info'>
                <span class='small'>MAR 2019 - present</span>
            </div>
            <div class='timeline-marker'></div>
            <div class='timeline-content'>
                <h4 class='timeline-title mt-1'>Data Expert</h4>
                <p class='small-line-height'>
                    -----
                    <br><b>Provide</b> technical support and expert assistance to Hivos and their local partners working on data and open contracting projects
                    <br><b>Raise</b> the level of data literacy of the partner organizations, support them in delivering tangible and sustainable data projects, and foster a connection between the partner organisation and the local data community
                    </p>
            </div>
        </li>
        <li class='timeline-item'>
            <div class='timeline-info'>
                <span class='small'>JUN 2018 - JAN 2019</span>
            </div>
            <div class='timeline-marker'></div>
            <div class='timeline-content'>
                <h4 class='timeline-title mt-1'>Data Fellow</h4>
                <p class='small-line-height'>
                    -----
                    <br><b>Selected</b> as the <a href='https://schoolofdata.org/2018/06/22/introducing-the-2018-class-of-school-of-data-fellows/'>2018 School of Data Fellow</a> for the Philippines
                    <br><b>Deepened</b> my data literacy skills, worked alongside local partner organizations, and enhanced the local data literacy network through the Fellowship Programme
                    <br><b>Worked</b> with School of Data and its local partners in the Philippines on projects related to data literacy, public procurement, open contracting, and government transparency, openness, and accountability
                </p>
            </div>
        </li>
    </ul>
</section>
