<section>
  <div class="view">
  <div class="container">
    <div class="verticalcenter text-center">
      <h1 class="bnhr">bnhr</h1>
      <hr>
      <!-- Nav Bar -->
      <nav>
        <a href="#bnhr"><span class="nav-text" style="padding:0.5em">bnhr</span></a>
        <a href="#repos"><span class="nav-text" style="padding:0.5em;">repos</span></a>
        <a href="#blog"><span class="nav-text" style="padding:0.5em;">blog</span></a>
        <a href="cv.html"><span class="nav-text" style="padding:0.5em;">cv</span></a>
        <a href="#contact"><span class="nav-text" style="padding:0.5em;">contact</span></a>
      </nav>
      <!-- End Nav Bar -->
    </div>
  </div>
  </div>
</section>
