<section>
  <div class="view">
  <div class="container">
    <div class="verticalcenter text-center">
      <a href="index.html"><h1 class="bnhr">bnhr</h1></a>
      <hr>
      <!-- Nav Bar -->
      <nav>
        <a href="index.html#bnhr" class="nav-text">bnhr</a>
        <a href="index.html#repos" class="nav-text">repos</a>
        <a href="blog.html" class="nav-text">blog</a>
        <a href="cv.html" class="nav-text">cv</a>
        <a href="index.html#contact" class="nav-text">contact</a>
      </nav>
      <!-- End Nav Bar -->
    </div>
  </div>
  </div>
</section>
