<section class="my-4" id="how-i-do-it">
    <hr>
    <h2 class="color-primary-dark font-weight-light text-center">How I do it</h2>
    <div class="row my-4">
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/qgis-logo.png" alt="QGIS" data-toggle="tooltip" data-placement="top" title="QGIS: a free and open source GIS">
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/grass-logo.png" alt="GRASS" data-toggle="tooltip" data-placement="top" title="GRASS: bringing advanced geospatial technologies to the world">
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/postgis-logo.png" alt="PostGIS" data-toggle="tooltip" data-placement="top" title="PostGIS: spatial and geographic objects for PostgreSQL">
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/leaflet-logo.png" alt="Leaflet" data-toggle="tooltip" data-placement="top" title="Leaflet: a JavaScript library for interactive maps">
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/mapbox-logo.png" alt="Leaflet" data-toggle="tooltip" data-placement="top" title="Mapbox: location data platform for mobile and web applications">
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/geonode-logo.png" alt="GeoNode" data-toggle="tooltip" data-placement="top" title="GeoNode: open source geospatial CMS">
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/osm-logo.png" alt="OpenStreetMap" data-toggle="tooltip" data-placement="top" title="OpenStreetMap: the free wiki world map">
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/python-logo.png" alt="Python" data-toggle="tooltip" data-placement="top" title="Python: an interpreted, high-level, general-purpose programming language">
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/r-logo.png" alt="R" data-toggle="tooltip" data-placement="top" title="R: a language and environment for statistical computing and graphics">
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/javascript-logo.png" alt="JavaScript" data-toggle="tooltip" data-placement="top" title="JavaScript: the programming language of HTML and the Web">
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/react-logo.png" alt="React" data-toggle="tooltip" data-placement="top" title="React: a JavaScript library for building user interfaces">
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/jekyll-logo.png" alt="Jekyll" data-toggle="tooltip" data-placement="top" title="Jekyll: transform your plain text into static websites and blogs">
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/workbench-logo.png" alt="Workbench" data-toggle="tooltip" data-placement="top" title="Workbench: scrape, clean and analyze data without code">
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/datawrapper-logo.png" alt="Datawrapper" data-toggle="tooltip" data-placement="top" title="Datawrapper: create charts, maps and tables for the web">
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/airtable-logo.png" alt="Airtable" data-toggle="tooltip" data-placement="top" title="Airtable: works like a spreadsheet but gives you the power of a database">
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/google-data-studio-logo.png" alt="Google Data Studio" data-toggle="tooltip" data-placement="top" title="Google Data Studio: turn your data into dashboards and reports">
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/google-sheets-logo.png" alt="Google Sheets" data-toggle="tooltip" data-placement="top" title="Google Sheets: cloud-based spreadsheet">
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-4 my-2 py-2">
            <div style="border: 0" class="card bot-circular">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/img/site/tech-logos/libreoffice-logo.png" alt="LibreOffice" data-toggle="tooltip" data-placement="top" title="LibreOffice: a free and open source office suite">
            </div>
        </div>
    </div>
</section>
