<nav class="main-nav">
  <div class="container">
    <div class="verticalcenter text-center">
      <!-- <a href="{{ site.baseurl }}" class="nav-text" >bnhr</a> -->
      <a href="{{ site.baseurl }}/blog/index.html" class="nav-text" >blog</a>
      <a href="{{ site.baseurl }}/about.html" class="nav-text" >about</a>
      <a href="{{ site.baseurl }}/projects.html" class="nav-text" >projects</a>
      <a href="{{ site.baseurl }}/contact.html" class="nav-text" >contact</a>
      <a href="{{ site.baseurl }}/cv.html" class="nav-text" >cv</a>
    </div>
  </div>
</nav>
