<nav class="navbar-fixed-top">
  <div class="container">
    <div class="verticalcenter text-center">
      <a href="{{ site.baseurl }}/about.html#bnhr" class="nav-text">about</a>
      <a href="{{ site.baseurl }}/about.html#projects" class="nav-text">projects</a>
      <a href="{{ site.baseurl }}/about.html#contact" class="nav-text">contact</a>
      <a href="{{ site.baseurl }}/blog/index.html" class="nav-text">blog</a>
      <a href="{{ site.baseurl }}/cv.html" class="nav-text">cv</a>
    </div>
  </div>
</nav>
