<!-- Navigation -->
<div class="container pb-2" id="page-top">
    <nav class="navbar navbar-default navbar-expand-lg d-print">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="{{ site.navbar_logo | prepend: site.assets }}" class="img-fluid" style="max-height: 72px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a class="nav-link" href="{{ site.baseurl }}/">home</a>
                </li>
                <!-- <li>
                    <a class="nav-link" href="{{ site.baseurl }}/#what-i-do">what I do</a>
                </li> -->
                <li>
                    <a class="nav-link" href="{{ site.baseurl }}/#contact">contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">training</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ site.baseurl }}/courses/2025/">QGIS - 2025</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">consult</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ site.baseurl }}/consult/free">free</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/consult/book">book</a>
                    </div>
                </li>
                <li>
                    <a class="nav-link" href="{{ site.baseurl }}/blog/">blog</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ site.baseurl }}/services">services</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ site.baseurl }}/training/">training</a>
                    </div>
                </li> -->
                <li>
                    <a class="nav-link" href="#support-bnhr">support</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ site.baseurl }}/portfolio">portfolio</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ site.baseurl }}/portfolio/cv.html">cv</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/portfolio/works.html">works</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
