<div class="container text-center">
  <!-- Pagination links -->
  <div class="cv-text">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}">Previous </a>
    {% else %}
      <span class="cv-text">Previous </span>
    {% endif %}
    <span class="cv-text">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="cv-text"> Next</a>
    {% else %}
      <span class="cv-text"> Next</span>
    {% endif %}
  </div>
</div>
