<div class="view">
  <div class="container">
    <hr>
    <h3 class="text-header">Recent Posts</h3>
    <ul class="post-archive">
      {% for post in paginator.posts %}
      <li>
        <a href="{{ post.url }}"><span class="post-archive-title">{{ post.title }}</span></a>
          <p class="post-text">{{ post.date | date_to_string }}</p>
          <p class="post-text">{{ post.description | strip_html | truncatewords:50 }}</p>
          <p class="post-text"><a href="{{ post.url }}">Read more...</a></p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
