<!-- Pagination links -->
<div class="cv-text">
  <p class="cv-text">Page: {{ paginator.page }} of {{ paginator.total_pages }}</p>
</div>

<div class="navposts">
    <div class="next">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}"> < Newer Posts</a>
        {% else %}
            <p>Showing Newest Posts</p>
        {% endif %}
    </div>

    <div class="prev">
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}">Older Posts > </a>
      {% else %}
            <p>Reached Oldest Posts</p>
      {% endif %}
    </div>
</div>
