<h4>You may also like:<h4>
{% assign posts_list = "" | split: "|" %}

{% if page.tags %}
    {% for each_tag in page.tags %}
        {% for each_post in site.tags[each_tag] %}
            {% if each_post.title != page.title %}
                {% assign posts_list = posts_list | push: each_post %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% assign posts_list = posts_list | uniq %}
        {% else %}
    {% assign posts_list = site.posts %}
{% endif %}

{% for post in posts_list limit: 5 %}
    {% include post-related-meta.html %}
{% endfor %}
