<section id="presentations-and-decks">
    <div class="col-lg-12">
        <h3 class="text-header">Presentations and Decks</h3>
        <div class="col-lg-6 col-sm-12">
            <p class="cv-text">
                <span class="cv-title">CourtVisionPH: My story as a developer</span>
                <ol style="list-style-type: square;" class="cv-text">
                    <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vSTznKw566QjfsMOPoMwrLLr-pJpr90LF9EUEih_HK5DcMEfZ8lUv2-15tEFaHk0HOEb0uyheM0QhvP/pub?start=false&loop=true&delayms=60000">Available here</a>
                    <li>The history, inspiration, and evolution of CourtVisionPH.</li>
                </ol>
            </p>
        </div>
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/cvph-story.png">
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-6 col-sm-12">
            <p class="cv-text">
                <span class="cv-title">Developing a Spatial Analytics Dashboard for Philippine Basketball</span>
                <ol style="list-style-type: square;" class="cv-text">
                    <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vQNmArWxLQ9Xpn0cglBKSi54zm2Wbaz8xuu6LFRg0YoVENhNyRq5kihgl1S8o4hKDt4w0nh3Ch9u-lJ/pub?start=false&loop=true&delayms=60000">Available here</a>
                    <li>My project for my Advanced GIS (GmE 222) class. Creating a spatial analytics dashboard for Philippine basketball using Python with data extracted by CourtVisionPH.</li>
                </ol>
            </p>
        </div>
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/cvph-dash.png">
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-6 col-sm-12">
            <p class="cv-text">
                <span class="cv-title">Exploring Spatial Visualizations of Shooting in Basketball using GIS</span>
                <ol style="list-style-type: square;" class="cv-text">
                    <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vQa3MTiTOr65XMX683Pk3YUrfkECEhfKa--bUrGOZxTTCyMWrpuhVk2pTKTtBnjnGnlLtJ8a8f8qelp/pub?start=false&loop=true&delayms=60000">Available here</a>
                    <li>My project for my Spatial Visualization (GmE 210) class. Using GIS to create different kinds of visualizations for basketball -- from basic shot charts, hotzones, binning, 3D, etc.</li>
                </ol>
            </p>
        </div>
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/cvph-spatviz.png">
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-6 col-sm-12">
            <p class="cv-text">
                <span class="cv-title">CourtVisionPH: A System for the Extraction of Field Goal Attempt Locations and Spatial Analysis of Shooting using Broadcast Basketball Videos</span>
                <ol style="list-style-type: square;" class="cv-text">
                    <li><a href="https://vimeo.com/145083457">Available here</a>
                    <li>Presenting about CourtVisionPH during the 2015 FOSS4G Conference.</li>
                </ol>
            </p>
        </div>
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/cvph-foss4g.png">
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-6 col-sm-12">
            <p class="cv-text">
                <span class="cv-title">Introduction to GRASS GIS and Scripting in GRASS using Python</span>
                <ol style="list-style-type: square;" class="cv-text">
                    <li><a href="https://bnhr.xyz/foss4gph2016-workshop-grass/">Available here</a>
                    <li>Workshop during the FOSS4GPH-2016 Conference on GRASS GIS and Scripting in GRASS using Python.</li>
                </ol>
            </p>
        </div>
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/foss4gph-2016.png">
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-6 col-sm-12">
            <p class="cv-text">
                <span class="cv-title">Converting Solar Radiation Measurements from ASTI Weather Stations to a Monthly Average Shapefile using Python</span>
                <ol style="list-style-type: square;" class="cv-text">
                    <li><a href="https://bnhr.xyz/philgeos2016-presentation/">Available here</a>
                    <li>Presentation during the PhilGEOS 2016 Conference.</li>
                </ol>
            </p>
        </div>
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/philgeos2016-pres.png">
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-6 col-sm-12">
            <p class="cv-text">
                <span class="cv-title">FOSS as an Option</span>
                <ol style="list-style-type: square;" class="cv-text">
                    <li><a href="https://bnhr.xyz/foss4g-talk-qc-itdo/">Available here</a>
                    <li>A short talk about the history, philosophy, and use of Free-and-Open Source Software (FOSS) and FOSS4G given before the Quezon City Information Technology Development Office (ITDO).</li>
                </ol>
            </p>
        </div>
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/foss-itdo.png">
        </div>
    </div>
</section>
<br>
