<section id="maps-and-viz">
    <h3 class="text-header">Maps and Visualizations</h3>
    <div class="row">
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/maps-and-viz/albay-hillshade.png">
        </div>
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/maps-and-viz/cv-jgdl.png">
        </div>
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/maps-and-viz/cv-bok1.png">
        </div>
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/maps-and-viz/firefly.png">
        </div>
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/maps-and-viz/range.png">
        </div>
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/maps-and-viz/shotchart.png">
        </div>
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/maps-and-viz/heatmap.png">
        </div>
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/maps-and-viz/hotzones.png">
        </div>
    </div>
</section>
<br>
