<section id="foss4g-projects">
    <h3 class="text-header">FOSS4G Projects</h3>
    <div class="col-lg-12">
        <div class="col-lg-6 col-sm-12">
            <p class="cv-text">
                <span class="cv-title">Caritas PDRA Analysis Tool (QGIS 3.X Plugin)</span>
                <ol style="list-style-type: square;" class="cv-text">
                    <li><a href="https://github.com/benhur07b/caritaspdra">https://github.com/benhur07b/caritaspdra</a>
                    <li>The Caritas PDRA Analysis Tool performs analysis using data obtained using Participatory Disaster Risk Assessment (PDRA) by Caritas Philippines. This includes risk computations, mapping of at-risk households, etc.</li>
                </ol>
            </p>
        </div>
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/caritas-qgis.png">
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-6 col-sm-12">
            <p class="cv-text">
                <span class="cv-title">r.sun.remap.clear</span>
                <ol style="list-style-type: square;" class="cv-text">
                    <li><a href="https://github.com/benhur07b/r.sun.remap.clear.monthly">Available here</a>
                    <li>A GRASS GIS addon that computes the monthly clear-sky GHI using an elevation raster and monthly average Linke turbidity coefficient csv. (For REMap SOLAR Component)</li>
                </ol>
            </p>
        </div>
        <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/grass-remap.png">
        </div>
    </div>
</section>
<br>
