<section id="passion-projects">
    <h3 class="text-header">Passion Projects and Web Maps</h3>
    <div class="col-lg-6 col-sm-12">
        <p class="cv-text">
            <span class="cv-title">CourtVisionPH Spatial Analytics Dashboard for PHL Basketball</span>
            <ol style="list-style-type: square;" class="cv-text">
                <li><a href="https://courtvision.bnhr.xyz/">https://courtvision.bnhr.xyz/</a>
                <li>A dashboard for performing some basic mapping and spatial analysis of field goal attempts from PHL basketball data.</li>
            </ol>
        </p>
    </div>
    <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/cvph.png">
    </div>

    <div class="col-lg-6 col-sm-12">
        <p class="cv-text">
            <span class="cv-title">#DigitalPH PDRA Webmap</span>
            <ol style="list-style-type: square;" class="cv-text">
                <li><a href="https://bnhr.xyz/caritas-pdra-webmap/index.html">https://bnhr.xyz/caritas-pdra-webmap/index.html</a>
                <li>A webmap developed for NASSA/Caritas Philippines for showing the results of their Participatory Disaster Risk Assessment (PDRA) in Catmon, Leyte.</li>
            </ol>
        </p>
    </div>
    <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/pdra-catmon.png">
    </div>

    <div class="col-lg-6 col-sm-12">
        <p class="cv-text">
            <span class="cv-title">3D GeoVisualization of Blue Carbon Ecosystems using Three.js</span>
            <ol style="list-style-type: square;" class="cv-text">
                <li><a href="https://bnhr.xyz/blue-carbon-ecosystem-visualization-with-three.js/index.html">https://bnhr.xyz/blue-carbon-ecosystem-visualization-with-three.js/index.html</a>
                <li>Sample application of three.js in creating 3D geovisualizations of blue carbon ecosystems.</li>
            </ol>
        </p>
    </div>
    <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/bc-three.png">
    </div>

    <div class="col-lg-6 col-sm-12">
        <p class="cv-text">
            <span class="cv-title">GeoVisual Communication Challenge (Spatial Visualization): Albay Map</span>
            <ol style="list-style-type: square;" class="cv-text">
                <li><a href="https://bnhr.xyz/albay-map-with-mapbox-gl/">https://bnhr.xyz/albay-map-with-mapbox-gl/</a>
                <li>A submission to my Spatial Visualization (GmE 210) class. A webmap of the topography, land surface temperature, and NDVI of Albay, Philippines using Mapbox.</li>
            </ol>
        </p>
    </div>
    <div class="col-lg-6 col-sm-12 img-container"><img class="img-responsive post-img img-shadow" src="{{ site.baseurl }}/media/pages/gvcc-mapbox.png">
    </div>
</section>
<br>
