<section id="services">
    <div class="container">
        <h2 class="color-primary pb-4 text-center">Services</h2>
        <!-- <hr class="my-4"> -->
        <div class="row card-columns">
            <div class="col-md-3 col-sm-12 p-1">
                <div class="card bot-circular">
                    <img class="card-img-top" src="{{ site.baseurl }}/media/site/carousel/submarine.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title color-primary-dark card-title-height"">Consulting</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 p-1">
                <div class="card bot-circular">
                    <img class="card-img-top" src="{{ site.baseurl }}/media/site/carousel/submarine.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title color-primary-dark card-title-height"">Training & Support</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 p-1">
                <div class="card bot-circular">
                    <img class="card-img-top" src="{{ site.baseurl }}/media/site/carousel/submarine.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title color-primary-dark card-title-height"">Development & Innovation</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 p-1">
                <div class="card bot-circular">
                    <img class="card-img-top" src="{{ site.baseurl }}/media/site/carousel/submarine.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title color-primary-dark card-title-height"">Analytics & Visualization</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</p>
                    </div>
                </div>
            </div>

            <!-- {% for service in site.posts %}
            <div class="col-md-3 col-sm-12 p-1">
                <div class="card bot-circular">
                    <img class="card-img-top" src="{{ service.img }}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title color-primary-dark card-title-height"">{{ service.title }}</h4>
                        <p class="card-text">{{ service.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %} -->
        </div>
        <hr class="my-4">
    </div>
</section>
