<section id='services'>
    <div class='bnhr-container-x'>
        <h2 class='color-primary text-center'>Services</h2>
        <!-- <hr class='my-4'> -->
        <div class='row'>
            <div class='col-md-3 col-sm-12'>
                <div class='card bot-circular'>
                    <!-- <img class='card-img-top' src='{{ site.baseurl }}/media/site/carousel/submarine.png' alt='Card image cap'> -->
                    <div class='card-body px-1 py-0'>
                        <h4 class='card-title color-primary-dark card-title-height'>Consulting & Support</h4>
                        <p class='card-text'>
                            Migration, integration, deployment, and maintenance of FOSS4G applications such as QGIS, PostGIS, and GeoNode.
                            <br><br>
                            Building data-readiness and data culture.
                        </p>
                    </div>
                </div>
            </div>
            <div class='col-md-3 col-sm-12'>
                <div class='card bot-circular'>
                    <!-- <img class='card-img-top' src='{{ site.baseurl }}/media/site/carousel/submarine.png' alt='Card image cap'> -->
                    <div class='card-body px-1 py-0'>
                        <h4 class='card-title color-primary-dark card-title-height'>Education & Training</h4>
                        <p class='card-text'>
                            Basic, advanced, and specialized courses on QGIS, GRASS, GeoServer, PostGIS, GeoNode, Leaflet, Python, R, and many others.
                            <br><br>
                            Data literacy and data wrangling workshops.
                        </p>
                    </div>
                </div>
            </div>
            <div class='col-md-3 col-sm-12'>
                <div class='card bot-circular'>
                    <!-- <img class='card-img-top' src='{{ site.baseurl }}/media/site/carousel/submarine.png' alt='Card image cap'> -->
                    <div class='card-body px-1 py-0'>
                        <h4 class='card-title color-primary-dark card-title-height'>Development & Innovation</h4>
                        <p class='card-text'>
                            Bespoke desktop, web, and mobile GIS/mapping applications using FOSS4G stack.
                            <br><br>
                            Data and spatial applications for academic, socio-economic, and market research.
                        </p>
                    </div>
                </div>
            </div>
            <div class='col-md-3 col-sm-12'>
                <div class='card bot-circular'>
                    <!-- <img class='card-img-top' src='{{ site.baseurl }}/media/site/carousel/submarine.png' alt='Card image cap'> -->
                    <div class='card-body px-1 py-0'>
                        <h4 class='card-title color-primary-dark card-title-height'>Analytics & Visualization</h4>
                        <p class='card-text'>
                            Analog and digital cartography. Extracting insights from data. Decision-support systems.
                            <br><br>
                            Data storytelling.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr class='my-4'>
    </div>
</section>
