<span class="font-weight-bold color-accent-red">SHARE:</span>
<a class="no-underline-link" alt="Share on Twitter" href='https://twitter.com/intent/tweet?text={{page.title}}&url={{site.url}}{{page.url}}" onclick="window.open(this.href, "mywin", "left=20,top=20,width=500,height=500,toolbar=1,resizable=0"); return false;'>
<i class="mx-2 share-twitter fab fa-twitter fa-lg"></i>
</a>

<a class="no-underline-link" alt="Share on Facebook"  href='https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" onclick="window.open(this.href, "mywin", "left=20,top=20,width=500,height=500,toolbar=1,resizable=0"); return false;'>
<i class="mx-2 share-fb fab fa-facebook fa-lg"></i>
</a>

<a class="no-underline-link" alt="Share on Reddit"  href='http://www.reddit.com/submit?url={{site.url}}{{page.url}}" onclick="window.open(this.href, "mywin", "left=20,top=20,width=900,height=500,toolbar=1,resizable=0"); return false;'>
<i class="mx-2 share-reddit fab fa-reddit fa-lg"></i>
</a>

<a class="no-underline-link" alt="Share as email"  href='mailto:?subject={{page.title}}&amp;body=Check out this site {{site.url}}{{page.url}}'><i class="mx-2 share-email fas fa-envelope-square fa-lg"></i>
</a>

<a class="no-underline-link" alt="Subscribe to Atom link"  href='{{ site.baseurl }}/feed.xml'>
<i class="mx-2 share-rss fas fa-rss fa-lg"></i>
</a>