<section class="my-4" id="what-ive-done">
    <hr>
    <h2 class="color-primary-dark font-weight-light text-center">What I've done</h2>

    {% for item in site.collection_what_ive_done %}
    <div class="row my-4">
        <div class="col-lg-6 col-12 mb-4">
            <img class="img-fluid img-shadow" src="{{ site.baseurl }}{{ item.img }}" alt="{{ item.img_alt }}" data-toggle="tooltip" data-placement="top" title="{{ item.title }}" />
        </div>
        <div class="col-lg-6 col-12">
            <p><strong>{{ item.name }}</strong><br>
            {{ item.about }}
            </p>
        </div>
    </div>
    {% endfor %}

    <div class="row px-2">
        <div class="col-md-4 col-sm-12 p-1">
            <a class="btn btn-primary btn-block" href="{{ site.baseurl }}/portfolio/works.html">See more projects</a>
        </div>
        <div class="col-md-4 col-sm-12 p-1">
            <a class="btn btn-primary btn-block" href="{{ site.baseurl }}/blog/">Read my blog</a>
        </div>
        <div class="col-md-4 col-sm-12 p-1">
            <a class="btn btn-primary btn-block" href="{{ site.baseurl }}/#contact">Contact me</a>
        </div>
    </div>
</section>
