<section class='my-4' id='what-i-do'>
    <hr>
    <h2 class='color-primary-dark font-weight-light text-center'>What I do</h2>
    <div class='row my-4'>
        <div class='col-md-3 col-sm-6 col-12'>
            <div style='border: 0;' class='card bot-circular py-2'>
                <div class='card-body px-1 py-0'>
                    <h4 class='card-title color-primary-dark'>Consulting & Support</h4>
                    <p class='card-text small-line-height'>
                        Migration, integration, deployment, and maintenance of FOSS4G applications such as QGIS, PostGIS, and GeoNode.
                        <br><br>
                        Building data-readiness and data culture
                    </p>
                </div>
            </div>
        </div>
        <div class='col-md-3 col-sm-6 col-12'>
            <div style='border: 0;' class='card bot-circular py-2'>
                <div class='card-body px-1 py-0'>
                    <h4 class='card-title color-primary-dark'>Education & Training</h4>
                    <p class='card-text small-line-height'>
                        Basic, advanced, and specialized courses on QGIS, GRASS, GeoServer, PostGIS, GeoNode, Leaflet, Python, R, and many others.
                        <br><br>
                        Data literacy and data wrangling workshops.
                    </p>
                </div>
            </div>
        </div>
        <div class='col-md-3 col-sm-6 col-12'>
            <div style='border: 0;' class='card bot-circular py-2'>
                <div class='card-body px-1 py-0'>
                    <h4 class='card-title color-primary-dark'>Development & Innovation</h4>
                    <p class='card-text small-line-height'>
                        Bespoke desktop, web, and mobile GIS/mapping applications using FOSS4G stack.
                        <br><br>
                        Data and spatial applications for academic, socio-economic, and market research.
                    </p>
                </div>
            </div>
        </div>
        <div class='col-md-3 col-sm-6 col-12'>
            <div style='border: 0;' class='card bot-circular py-2'>
                <div class='card-body px-1 py-0'>
                    <h4 class='card-title color-primary-dark'>Analytics & Visualization</h4>
                    <p class='card-text small-line-height'>
                        Analog and digital cartography. Extracting insights from data. Decision-support systems.
                        <br><br>
                        Data storytelling.
                </div>
            </div>
        </div>
    </div>
    <!-- <p class='text-center'>
    Migration, integration, deployment, and maintenance of FOSS4G applications such as QGIS, PostGIS, and GeoNode.
    <br>
    Building data-readiness and data culture.
    </p>
    <h4 class='color-primary font-weight-light text-center mt-4'>Education & Training</h4>
    <p class='text-center'>
    Basic, advanced, and specialized courses on QGIS, GRASS, GeoServer, PostGIS, GeoNode, Leaflet, Python, R, and many others.
    <br>
    Data literacy and data wrangling workshops.
    </p>
    <h4 class='color-primary font-weight-light text-center mt-4'>Development & Innovation</h4>
    <p class='text-center'>
    Bespoke desktop, web, and mobile GIS/mapping applications using FOSS4G stack.
    <br>
    Data and spatial applications for academic, socio-economic, and market research.
    </p>
    <h4 class='color-primary font-weight-light text-center mt-4'>Analytics & Visualization</h4>
    <p class='text-center'>
    Analog and digital cartography. Extracting insights from data. Decision-support systems.
    <br>
    Data storytelling.
    </p> -->
</section>
