<h1 class="mt-0 text-center pt-2 pb-4">What I do</h1>
<div class="row">
    <div class="col-md-3 col-sm-6 col-12 pb-2">
        <div style="border: 0;" class="card bot-circular py-2">
            <a class="text-center" href="{{ site.baseurl }}/services"><i class="pt-2 pb-4 serv-link fas fa-project-diagram fa-4x color-accent-green text-center"></i></a>
            <div class="card-body px-1 py-0">
                <h4 class="mt-0 card-title text-center"><a class="reverse-bnhr-link" href="{{ site.baseurl }}/services">Consulting & Support</a></h4>
                <p class="card-text small-line-height">
                    Migration, integration, deployment, and maintenance of FOSS4G applications such as QGIS, PostGIS, and GeoNode.
                    <br><br>
                    Building data-readiness and data culture
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12 pb-2">
        <div style="border: 0;" class="card bot-circular py-2">
            <a class="text-center" href="{{ site.baseurl }}/services"><i class="pt-2 pb-4 serv-link fas fa-laptop-code fa-4x color-muted text-center"></i></a>
            <div class="card-body px-1 py-0">
                <h4 class="mt-0 card-title text-center"><a class="reverse-bnhr-link" href="{{ site.baseurl }}/services">Education & Training</a></h4>
                <p class="card-text small-line-height">
                    Basic, advanced, and specialized courses on QGIS, GRASS, GeoServer, PostGIS, GeoNode, Leaflet, Python, R, and many others.
                    <br><br>
                    Data literacy and data wrangling workshops.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12 pb-2">
        <div style="border: 0;" class="card bot-circular py-2">
            <a class="text-center" href="{{ site.baseurl }}/services"><a class="text-center" href="{{ site.baseurl }}/services"><i class="pt-2 pb-4 serv-link fas fa-map-marked-alt fa-4x color-accent-blue text-center"></i></a>
            <div class="card-body px-1 py-0">
                <h4 class="mt-0 card-title text-center"><a class="reverse-bnhr-link" href="{{ site.baseurl }}/services">Development & Innovation</a></h4>
                <p class="card-text small-line-height">
                    Bespoke desktop, web, and mobile GIS/mapping applications using FOSS4G stack.
                    <br><br>
                    Data and spatial applications for academic, socio-economic, and market research.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12 pb-2">
        <div style="border: 0;" class="card bot-circular py-2">
            <a class="text-center" href="{{ site.baseurl }}/services"><i class="pt-2 pb-4 serv-link fas fa-chart-line fa-4x color-accent-orange text-center"></i></a>
            <div class="card-body px-1 py-0">
                <h4 class="mt-0 card-title text-center"><a class="reverse-bnhr-link" href="{{ site.baseurl }}/services">Analytics & Visualization</a></h4>
                <p class="card-text small-line-height">
                    Analog and digital cartography. Extracting insights from data. Decision-support systems.
                    <br><br>
                    Data storytelling.
            </div>
        </div>
    </div>
</div>
