<h1 class="mt-2 text-center">Who I've worked with</h1>
<div class="row my-4">
    <div class="col-md-4 col-sm-4 col-4 my-2 py-2">
        <div style="border: 0" class="card bot-circular">
            <img class="card-img-top" src="{{ site.assets }}/img/site/who-ive-worked-with/okfn.png" alt="Open Knowledge Foundation" data-toggle="tooltip" data-placement="top" title="Open Knowledge Foundation">
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-4 my-2 py-2">
        <div style="border: 0" class="card bot-circular">
            <img class="card-img-top" src="{{ site.assets }}/img/site/who-ive-worked-with/psa.png" alt="Philippine Statistics Authority" data-toggle="tooltip" data-placement="top" title="Philippine Statistics Authority">
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-4 my-2 py-2">
        <div style="border: 0" class="card bot-circular">
            <img class="card-img-top" src="{{ site.assets }}/img/site/who-ive-worked-with/hivos.png" alt="Hivos" data-toggle="tooltip" data-placement="top" title="Hivos - People Unlimited">
        </div>
    </div>
</div>
<div class="row my-4">
    <div class="col-md-4 col-sm-4 col-4 my-2 py-2">
        <div style="border: 0" class="card bot-circular">
            <img class="card-img-top" src="{{ site.assets }}/img/site/who-ive-worked-with/thibi.png" alt="Thibi" data-toggle="tooltip" data-placement="top" title="Thibi">
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-4 my-2 py-2">
        <div style="border: 0" class="card bot-circular">
            <img class="card-img-top" src="{{ site.assets }}/img/site/who-ive-worked-with/wti.png" alt="Webcast Technologies, Inc." data-toggle="tooltip" data-placement="top" title="Webcast Technologies, Inc.">
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-4 my-2 py-2">
        <div style="border: 0" class="card bot-circular">
            <img class="card-img-top" src="{{ site.assets }}/img/site/who-ive-worked-with/aero360.png" alt="Aero 360 International" data-toggle="tooltip" data-placement="top" title="Aero 360 International">
        </div>
    </div>
</div>