<section id="decks-and-presentations">
    <h3>decks and presentations</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 pb-4">
                <img class="card-img-top img-shadow" src="{{ site.baseurl }}/media/site/portfolio/decks-and-presentations/counter-mapping-x-technology.png" alt="counter-mapping x technology">
                <h5 class="card-text mt-2">
                    <a class="bnhr-links color-primary" href="https://docs.google.com/presentation/d/e/2PACX-1vR5AcyNn3zMtMBXj81gn4Py6cdCdBv2YjmxGzMRL08sVInAPsewjdg_HCdwdo6jpUClKm-4vI6khrij/pub?start=false&loop=false&delayms=60000">Counter-mapping X Technology</a>
                </h5>
                <p class="tl-acts">
                    A short presentation on the intersections of counter-mapping and technology given during the maptimeDiliman X Geog Week 2019 event.
                </p>
            </div>
            <div class="col-md-6 col-sm-12 pb-4">
                <img class="card-img-top img-shadow" src="{{ site.baseurl }}/media/site/portfolio/decks-and-presentations/open-contracting-x-open-mapping.png" alt="open contracting x open mapping">
                <h5 class="card-text mt-2">
                    <a class="bnhr-links color-primary" href="">Open Contracting X Open Mapping</a>
                </h5>
                <p class="tl-acts">
                    A presentation/workshop on how open contracting and open mapping can work together presented during an Open Data Day 2019 event.
                </p>
            </div>
        </div>
    </div>
</section>
