<section id='foss-dev'>
    <h3>open source projects</h3>
    <div class='container'>
        <div class='row'>
            <div class='col-md-6 col-sm-12 pb-4'>
                <img class='card-img-top img-shadow' src='{{ site.baseurl }}/media/site/portfolio/foss-dev/qgis-caritas.png' alt='caritas pdra analysis qgis plugin'>
                <h5 class='card-text mt-2'>
                    <a class='bnhr-links color-primary' href='https://github.com/benhur07b/caritaspdra'>Caritas PDRA Analysis Tool</a>
                </h5>
                <p class='tl-acts'>
                    A QGIS plugin that performs analysis on the Participatory Disaster Risk Assessment (PDRA) data by Caritas Philippines. This includes risk computations, mapping of at-risk households, etc.
                </p>
            </div>
            <div class='col-md-6 col-sm-12 pb-4'>
                <img class='card-img-top img-shadow' src='{{ site.baseurl }}/media/site/portfolio/foss-dev/grass-remap.png' alt='r.sun.remap.clear.monthly grass add-on'>
                <h5 class='card-text mt-2'>
                    <a class='bnhr-links color-primary' href='https://github.com/benhur07b/r.sun.remap.clear.monthly'>r.sun.remap.clear.monthly</a>
                </h5>
                <p class='tl-acts'>
                    A GRASS GIS add-on that automatically generates the monthly clear-sky GHI rasters using r.sun for the REMap solar component.
                </p>
            </div>
        </div>
    </div>
</section>
