<section id="maps-and-viz">
    <h3>maps and visualization</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 pb-4">
                <img class="card-img-top img-shadow" src="{{ site.baseurl }}/media/site/portfolio/maps-and-viz/icebergs-qgis.gif" alt="historical icebergs">
                <h5 class="card-text mt-2">
                    Icebergs over time using QGIS and Time Manager
                </h5>
            </div>
            <div class="col-md-6 col-sm-12 pb-4">
                <img class="card-img-top img-shadow" src="{{ site.baseurl }}/media/site/portfolio/maps-and-viz/albay-hillshade.png" alt="albay hillshade">
                <h5 class="card-text mt-2">
                    Albay hillshade using QGIS
                </h5>
            </div>
            <div class="col-md-6 col-sm-12 pb-4">
                <img class="card-img-top img-shadow" src="{{ site.baseurl }}/media/site/portfolio/maps-and-viz/cv-bok1.png" alt="battle of katipunan">
                <h5 class="card-text mt-2">
                    How the Battle of Katipunan was lost with CourtVisionPH and QGIS
                </h5>
            </div>
            <div class="col-md-6 col-sm-12 pb-4">
                <img class="card-img-top img-shadow" src="{{ site.baseurl }}/media/site/portfolio/maps-and-viz/cv-jgdl.png" alt="JGDL's impact">
                <h5 class="card-text mt-2">
                    JGDL's impact with CourtVisionPH and QGIS
                </h5>
            </div>
            <div class="col-md-6 col-sm-12 pb-4">
                <img class="card-img-top img-shadow" src="{{ site.baseurl }}/media/site/portfolio/maps-and-viz/range.png" alt="range map of UP MBT field goals (2017)">
                <h5 class="card-text mt-2">
                    Range map of UP MBT field goals (2017) with CourtVisionPH and QGIS
                </h5>
            </div>
            <div class="col-md-6 col-sm-12 pb-4">
                <img class="card-img-top img-shadow" src="{{ site.baseurl }}/media/site/portfolio/maps-and-viz/heatmap.png" alt="heatmap of UP MBT field goals (2017)">
                <h5 class="card-text mt-2">
                    Heatmap of UP MBT field goals (2017) with CourtVisionPH and QGIS
                </h5>
            </div>
            <div class="col-md-6 col-sm-12 pb-4">
                <img class="card-img-top img-shadow" src="{{ site.baseurl }}/media/site/portfolio/maps-and-viz/cvph.png" alt="courtvisionPH dashboard">
                <h5 class="card-text mt-2">
                    <a class="bnhr-links color-primary" href="courtvision.bnhr.xyz">CourtVisionPH spatial analytics dashboard for PHL basketball</a>
                </h5>
            </div>
            <div class="col-md-6 col-sm-12 pb-4">
                <img class="card-img-top img-shadow" src="{{ site.baseurl }}/media/site/portfolio/maps-and-viz/bc-three.png" alt="web 3D using three.js">
                <h5 class="card-text mt-2">
                    <a class="bnhr-links color-primary" href="https://bnhr.xyz/blue-carbon-ecosystem-visualization-with-three.js/index.html">Web 3D visualization using three.js</a>
                </h5>
            </div>
            <div class="col-md-6 col-sm-12 pb-4">
                <img class="card-img-top img-shadow" src="{{ site.baseurl }}/media/site/portfolio/maps-and-viz/human-settlements.png" alt="human settlements in NCR">
                <h5 class="card-text mt-2">
                    <a class="bnhr-links color-primary" href="https://bnhr.xyz/human-settlements-and-population-webmap/index.html#">Human settlements and population webmap using Mapbox</a>
                </h5>
            </div>
            <div class="col-md-6 col-sm-12 pb-4">
                <img class="card-img-top img-shadow" src="{{ site.baseurl }}/media/site/portfolio/maps-and-viz/pdra-catmon.png" alt="PDRA Catmon">
                <h5 class="card-text mt-2">
                    <a class="bnhr-links color-primary" href="https://bnhr.xyz/caritas-pdra-webmap/index.html">PDRA results webmap using Mapbox</a>
                </h5>
            </div>
        </div>
    </div>
</section>
