body {
    // font-family: $font-pt-sans;
    font-family: $font-fira-sans;
    color: $color-primary;
    font-size: 18px;
    line-height: 1.8;
    // background-color: $color-secondary;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-pt-sans;
    color: $color-primary-dark;
    font-weight: bold;
    line-height: 1.4;
}

p {
    // font-family: $font-pt-sans;
    font-family: $font-fira-sans;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.8;
}

.small-line-height {
    line-height: 1.5;
}

.no-underline-link {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

#results-container {
    padding: 0;
    li {
        list-style: none;
        text-align: right;
        a {
            @extend .no-underline-link;
            font-family: $font-pt-sans;
            &:hover {
                color: $color-primary-dark;
            }
        }
    }
}

#to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 5%;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 5px;
    background-color: $color-primary-dark;
    opacity: 0.5;

    &:hover {
        background-color: $color-primary;
        opacity: 0.5;
    }

}

.list-style-none {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.highlight {
    margin: 0.5rem 0rem;
    padding: 0.25rem 0.5rem;
}

.bnhr-links {
    @extend .no-underline-link;
    &:hover {
        color: $color-primary-dark;
    }
}

.carousel-item-header {
    height:30vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media (min-width: 320px) {
        height: 30vh;
    }
    @media (min-width: 576px) {
        height:30vh;
    }
    @media (min-width: 768px) {
        height: 40vh;
    }
    @media (min-width: 992px) {
        height: 40vh;
    }
    @media (min-width: 1024px) {
        height: 40vh;
    }
    @media (min-width: 1200px) {
        height: 45vh;
    }
    @media (min-width: 1440px) {
        height: 60vh;
    }
    @media (min-width: 1960px) {
        height: 65vh;
    }
  }