$color-primary: #3d4251;
$color-primary-dark: #2a3439;
$color-primary-light: #f8f9fa;
$color-secondary: #f6f3ed;
$color-muted: #7d7d7d;
$color-accent-green: #5ebd3e;
$color-accent-blue: #009cdf;
$color-accent-orange: #f78200;

.color-primary {
    color: $color-primary;
}

.color-primary-dark {
    color: $color-primary-dark;
}

.color-primary-light {
    color: $color-primary-light;
}

.color-secondary {
    color: $color-secondary;
}

.color-muted {
    color: $color-muted;
}

.color-accent-green {
    color: $color-accent-green;
}

.color-accent-blue {
    color: $color-accent-blue;
}

.color-accent-orange {
    color: $color-accent-orange;
}
