$color-primary: #3f3f3f;
$color-primary-dark: #1f1f1f;
$color-primary-light: #5f5f5f;
$color-secondary: #f7f2e8;
$color-muted: #f3f3f3;
$color-accent-green: #3da639;
$color-accent-blue: #00aff0;
$color-accent-orange: #fb542b;

.color-primary {
    color: $color-primary;
}

.color-primary-dark {
    color: $color-primary-dark;
}

.color-primary-light {
    color: $color-primary-light;
}

.color-secondary {
    color: $color-secondary;
}

.color-muted {
    color: $color-muted;
}

.color-accent-green {
    color: $color-accent-green;
}
