.bnhr-container-x {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @media (min-width: 576px) {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    @media (min-width: 768px) {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    @media (min-width: 992px) {
        padding-left: 12rem;
        padding-right: 12rem;
    }
}

.nav-posts {
    display: flex;
    // align-items: center;
    justify-content: space-between;

    & .prev {
      width: 50%;
      // align-items: flex-start;
    }

    & .next {
      width: 50%;
      // align-items: flex-end;
    }
}
