form.contact-bnhr input[type="text"], form.contact-bnhr input[type="email"], form.contact-bnhr textarea {
    width: 100%;
    vertical-align: middle;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    padding: 0.75em;
    font-family: $font-fira-sans;
    font-weight: 300;
    border-style: solid;
    border-color: $color-primary;
    outline-color: $color-accent-blue;
    border-width: 1px;
    border-radius: 3px;
    transition: box-shadow .2s ease;
}

form.contact-bnhr textarea {
    height: 200px;
}
