$font-logo: 'Josefin Sans', sans-serif;
$font-pt-sans: 'PT Sans', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;
$font-archivo: 'Archivo', sans-serif;
$font-inconsolata: 'Inconsolata', monospace;

.font-logo {
    font-family: $font-logo;
}
