$font-title: 'Josefin Sans', sans-serif;
$font-subtitle: 'Open Sans', sans-serif;
$font-header: 'Oswald', sans-serif;
// $font-body: 'Nunito', sans-serif;
$font-body: 'Open Sans', sans-serif;
$font-accent: 'Archivo', sans-serif;

.font-title {
    font-family: $font-title;
}

.font-subtitle {
    font-family: $font-subtitle;
}

.font-header {
    font-family: $font-header;
}

.font-body {
    font-family: $font-body;
}

.font-accent {
    font-family: $font-accent;
}
