// GENERAL
html,
body {
  height: 100%;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
