body {
    font-family: $font-body;
    font-color: $color-primary;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.75;
    text-align: left;

    @media (min-width: 1024px) {
        font-size: 16px;
        line-height: 2.0;
    }
}

p {
    font-family: $font-body;
    font-color: $color-primary;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    text-align: left;

    &.large {
        font-size: 16px;
    }

    &.small {
        font-size: 12px;
    }

    @media (min-width: 1024px) {
        font-size: 16px;
        line-height: 2.0;

        &.large {
            font-size: 18px;
        }

        &.small {
            font-size: 14px;
        }
    }
}

td, th {
  @extend p;
  line-height: 1.5;

  border: solid 1px black;
  padding: 0.2em 0.5em;
}

table {
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5 {
    font-family: $font-header;
    font-weight: 500;
    // padding: 0.1em 0;
    text-align: left;
    margin: 1.0em 0 0.3em 0;
}

h1 {
    font-size: 2.0rem;
    // @media (min-width: 576px) {
    //     font-size: 2.0rem;
    // }
    // @media (min-width: 768px) {
    //     font-size: 2.5px;
    // }
    @media (min-width: 1024px) {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: 1.7rem;
    // @media (min-width: 576px) {
    //     font-size: 1.7rem;
    // }
    // @media (min-width: 768px) {
    //     font-size: 2.2rem;
    // }
    @media (min-width: 1024px) {
        font-size: 2.2rem;
    }
}

h3 {
    font-size: 1.5rem;
    // @media (min-width: 576px) {
    //     font-size: 1.5rem;
    // }
    // @media (min-width: 768px) {
    //     font-size: 2.0rem;
    // }
    @media (min-width: 1024px) {
        font-size: 2.0rem;
    }
}

h4 {
    font-size: 1.2rem;
    // @media (min-width: 576px) {
    //     font-size: 1.2rem;
    // }
    // @media (min-width: 768px) {
    //     font-size: 1.5rem;
    // }
    @media (min-width: 1024px) {
        font-size: 1.5rem;
    }
}

h5 {
    font-size: 1.0rem;
    // @media (min-width: 576px) {
    //     font-size: 1.0rem;
    // }
    // @media (min-width: 768px) {
    //     font-size: 1.2rem;
    // }
    @media (min-width: 1024px) {
        font-size: 1.2rem;
    }
}

blockquote {
    padding: 10px 20px;
    border-left: 5px solid $color-primary-dark;
}

li {
    font-family: $font-body;
    font-weight: 400;
    p {
        line-height: 1.6;
    }
}

.jumbotron {
    padding: 2em;
    // @media (min-width: 768px) {
    //     padding: 2em 2em;
    // }
}

.display-4 {
    font-size: 2.5rem;
    @media (min-width: 1024px) {
        font-size: 3rem;
    }
}

.about-name {
    @extend h1;
    font-size: 2.5rem;
    @media (min-width: 1024px) {
        font-size: 3rem;
    }
}

.about-lead {
    @extend p;
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 300;

    @media (min-width: 1024px) {
        font-size: 1.8rem;
    }
}

.list-style-none {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.post-title {
    @extend h1;
    // font-family: $font-header;
    font-weight: 500;
    margin: 0.5em 0;
    // font-size: 48px;
    color: $color-primary-dark;

}

.post-meta {
    color: $color-muted;
}

.post-meta-info {
    @extend .post-meta;
    font-family: $font-accent;
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 0;
    // margin: -0.3em, 0;
    @media (min-width: 1024px) {
        font-size: 14px;
    }
}

.post-meta-tag {
    @extend .no-underline-link;
    @extend .post-meta;
    font-size: 12px;
    background-color: #dddddd;
    color: $color-primary;
    // margin: -0.3em, 0;
    padding: 0.1em 0.3em;
    border-radius: 5%;

    &:hover {
        color: white;
        background-color: $color-primary-dark;
    }

    @media (min-width: 1024px) {
        font-size: 13px;
    }
}

.post-archive-title {
    @extend .post-title;
    &:hover {
        text-decoration: none;
        color: $color-muted;
    }
}

.tags-archive-title {
    color: $color-primary-dark;
    &:hover {
        text-decoration: none;
        color: $color-muted;
    }
}

.top-circular {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.bot-circular {
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.center-items {
    align-items: center;
    justify-content: center;
}

.no-underline-link {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.bnhr-links {
    @extend .no-underline-link;
    &:hover {
        color: $color-primary-dark;
    }
}

.card-title-height {
    height: 30px;
    @media (min-width: 768px) {
        height: 48px;
    }
    @media (min-width: 992px) {
        height: 54px;
    }
}

.fonts-pagination {
    font-family: $font-header;
    font-color: $color-primary;
    font-size: 18px;
    @media (min-width: 768px) {
        font-size: 22px;
    }
}

.fonts-pagination-post {
    font-family: $font-header;
    font-color: $color-primary;
    font-size: 14px;
    line-height: 1.4;
    @media (min-width: 576px) {
        font-size: 16px;
    }
    @media (min-width: 768px) {
        font-size: 18px;
    }
}

.footer-text {
    font-size: 11px;
    line-height: 1.5;
    @media (min-width: 992px) {
        font-size: 13px;
    }
}

.card {
    border-style: none;
}

.card-body {
    padding: 1rem;
    p {
        font-size: 13px;
        line-height: 1.7;

        @media (min-width: 992px) {
            font-size: 15px;
        }
    }
}

#contact-email {
    &:hover {
        color: $color-primary-dark;
    }
}

#results-container {
    padding: 0;
    li {
        list-style: none;
        text-align: right;
        a {
            @extend .no-underline-link;
            font-family: $font-header;
            &:hover {
                color: $color-primary-dark;
            }
        }
    }
}

// #search-input {
//     height: 1.2em !important;
// }

#to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 5%;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 5px;
    background-color: $color-primary;
    opacity: 0.5;

    &:hover {
        background-color: $color-primary-dark;
        opacity: 0.5;
    }

}
