// posts
.post-meta {
    color: $color-muted;
}

.post-meta-info {
    @extend .post-meta;
    font-family: $font-roboto;
    margin-bottom: 4px;
}

.post-meta-tag {
    @extend .no-underline-link;
    @extend .post-meta;
    background-color: $color-secondary;
    color: $color-primary-dark;
    padding: 0.1em 0.3em;
    border-radius: 5%;

    &:hover {
        color: $color-primary-light;
        background-color: $color-accent-blue;
    }
}


blockquote {
    padding: 0.5rem 1rem;
    border-left: 5px solid $color-accent-blue;
}

.nav-posts {
    display: flex;
    // align-items: center;
    justify-content: space-between;

    & .prev {
      width: 50%;
      // align-items: flex-start;
    }

    & .next {
      width: 50%;
      // align-items: flex-end;
    }
}

.post-archive-title {
    @extend .no-underline-link;
    // color: $color-primary-dark;
    color: $color-accent-blue;
    &:hover {
        // color: $color-accent-blue;
        color: $color-primary-dark;
    }
}

.bnhr-link {
    @extend .no-underline-link;
    color: $color-accent-blue;
    &:hover {
        color: $color-primary-dark;
    }
}

.bnhr-link-bg {
    // @extend .no-underline-link;
    color: $color-primary-light;
    background-color: $color-accent-blue;
    &:hover {
        background-color: $color-primary-dark;
    }
    strong {
        color: $color-primary-light;
    }
}

.reverse-bnhr-link {
    @extend .no-underline-link;
    color: $color-primary-dark;
    &:hover {
        color: $color-accent-blue;
    }
}