// Projects
.container-projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-projects {
  width: 90%;
}

.grid-projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.cell-projects {
  width: 33%;
}

.cell-projects img {
  display: block;
}

// NavBar
.fixed-scroll {
  position: fixed;
  top: 0;
  width: 100%;
}

.main-nav {
  background-color: white;
  padding-bottom: 8px;

}

.navbar-scrolled {
  @extend .fixed-scroll;
  padding-top: 10px;
  z-index: 150;
  box-shadow: 0 2px 2px #333333;
  background-color: white;
}

// Body
.main {
  padding: 30px 0px;

  @media screen and (max-width: 768px) {padding: 20px 0px;}
  @media screen and (max-width: 480px) {padding: 15px 0px;}
  @media screen and (max-width: 360px) {padding: 10px 0px;}
}

.container {
  position: relative;
  max-width: 70%;

  @media screen and (max-width: 768px) {max-width: 80%;}
  @media screen and (max-width: 480px) {max-width: 85%;}
  @media screen and (max-width: 360px) {max-width: 90%;}
}

// Sharebar
.sharebar {
  position: fixed;
  top: 25%;
  right: 10%;
  max-width: 5%;

  @media screen and (max-width: 768px) {right: 5%;}
  @media screen and (max-width: 480px) {right: 5%;}
  @media screen and (max-width: 360px) {right: 5%;}


  .share-col {
    display: flex;
    flex-direction: column;

      .share-btn {
        width: 100%;
        padding: 6px 0px;
      }

  }
}

.contact-col {
  display: flex;
  flex-direction: column;

  .contact-item {
    width: 100%;
    padding: 4px;
  }
}

// Footer
.footer-contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .footer-contact-item {
    display: flex;
    justify-content: center;
    width: 25%;
    padding: 2px;

    @media screen and (max-width: 960px) {width: 50%; padding: 2px 0px};
    @media screen and (max-width: 480px) {width: 100%; padding: 2px 0px};
  }
}

.footer-bnhr {
  display: flex;
  justify-content: center;
  width: 100%;
}


// Tags
.tag-padding {
  padding-top: 80px;
  @media screen and (max-width: 960px) {width: 50%; padding-top: 70px};
  @media screen and (max-width: 480px) {width: 100%; padding-top: 60px};
}
