.container-projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-projects {
  width: 90%;
}

.grid-projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.cell-projects {
  width: 33%;
}

.cell-projects img {
  display: block;
}

.main {
  padding: 0;
}

.fixed-scroll {
  position: fixed;
  top: 0;
  width: 100%;
}

.main-nav {
  background-color: white;
  padding-bottom: 8px;

}

.navbar-scrolled {
  @extend .fixed-scroll;
  padding-top: 8px;
  z-index: 150;
  box-shadow: 0 1px 1px #000000;
}

.main {
  padding: 20px 50px;

  @media screen and (max-width: 768px) {padding: 15px 30px;}
  @media screen and (max-width: 360px) {padding: 10px 5px;}
}
