$text-normal-size: 18px;
$text-header-size: $text-normal-size * 2;

@mixin text_size($md, $sm, $xs, $xxs) {
  font-size: $md;
  @media screen and (max-width: 768px) {font-size: $sm;}
  @media screen and (max-width: 480px) {font-size: $xs;}
  @media screen and (max-width: 360px) {font-size: $xxs;}
}

.text-normal {
  @include text-size($text-normal-size, $text-normal-size - 2px, $text-normal-size - 3px, $text-normal-size - 4px);
}

.text-small {
  @include text-size(12px, 12px, 10px, 10px);
}

.text-headers {
  @include text-size($text-header-size, $text-header-size - 4px, $text-header-size - 6px, $text-header-size - 8px);
}

// Logo
.bnhr {
  font-family: 'Geo-Regular', monospace;
  font-size: 120px;
  color: black;
  margin-bottom: -0.2em;
}

// Nav Bar
nav a {
  color: #000000;
  padding: 0px 8px 0px 8px;

  @media screen and (max-width: 768px) {padding: 0px 6px 0px 6px;}
  @media screen and (max-width: 480px) {padding: 0px 4px 0px 4px;}

  &:hover {
    background-color: #000000;
    color: #ffffff;
  }

}

.nav-text {
  font-family: 'Muli-Regular', sans-serif;
  color: #000000;
  @include text-size(24px, 20px, 16px, 15px)
}

// Blog
h1, h2, h3, h4, h5, h6 {
  font-family: 'Average-Regular', serif;
  color: black;

  @media screen and (max-width: 768px) {
    font-size: 1.5em;
  }

  @media screen and (max-width: 480px) {
    font-size: 1.2em;
  }

  @media screen and (max-width: 360px) {
    font-size: 1em;
  }
}

p {
  font-family: 'Muli-Regular', sans-serif;
  line-height: 1.5;
  @extend .text-normal
}

li {
  font-family: 'Muli-Regular', sans-serif;
  @extend .text-normal;
}

.post-archive-title {
  font-family: 'Average-Regular', serif;
  // font-weight: bold;
  @extend .text-headers;
}

.post-archive {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  & li {
    margin-bottom: 12px;
    padding-bottom: 12px;

    &:last-child {
      border-bottom: 0;
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.post-title {
  color: black;
  @extend .post-archive-title;
}

// About, Projects, Contacts
.text-header {
  font-family: 'Average-Regular', serif;
  @extend .text-headers;
}

.project-name {
  font-family: 'Muli-Regular', sans-serif;
  @include text-size($text-normal-size + 4px, $text-normal-size + 3px, $text-normal-size + 2px, $text-normal-size);
}

// CV
.cv-name {
  font-family: 'Muli-Regular', sans-serif;
  color: #000000;
  margin-bottom: 0;
  font-style: bold;
  @include text-size(42px, 36px, 32px, 30px)
}

.cv-desc {
  font-family: 'LibreFranklin-Light', sans-serif;
  margin-bottom: 0;
  @extend .text-normal;
}

.cv-header {
  @extend .text-header;
}

.cv-text {
  font-family: 'Muli-Regular', sans-serif;
  @extend .text-normal;
}

// Footer
.footer-text {
  font-family: 'Muli-Regular', serif;
  @extend .text-small;
}

// NavPosts
.navposts {
    @extend .text-normal;
    display: flex;
    // align-items: center;
    justify-content: space-between;

    & .prev {
      max-width: 50%;
      align-items: flex-start;
    }

    & .next {
      max-width: 50%;
      align-items: flex-end;
    }
}
