.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
    padding-left: 3em;
    padding-bottom: 1em;
    position: relative;
    &:last-child {
        padding-bottom: 0;
    }
}

/*----- TIMELINE INFO -----*/
.timeline-info {
    // font-size: 10px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: $font-archivo;
    font-color: $color-muted;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 15px;
    &:before {
        background: $color-accent-orange;
        border: 3px solid transparent;
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        top: 4px; left: 0;
        width: 15px;
        transition: background 0.3s ease-in-out,
                border 0.3s ease-in-out;
    }
    &:after {
        content: "";
        width: 3px;
        background: $color-muted;
        display: block;
        position: absolute;
        top: 24px; bottom: 0; left: 6px;
    }
    .timeline-item:last-child &:after {
        content: none;
    }
}
.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid $color-accent-orange;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
    padding-bottom: 1em;

    p:last-child {
        margin-bottom: 0;
    }

}

/*----- TIMELINE PERIOD -----*/
.period {
    padding: 0;

    .timeline-info {
        display: none;
    }

    .timeline-marker {
        &:before {
            background: transparent;
            content: "";
            width: 15px;
            height: auto;
            border: none;
            border-radius: 0;
            top: 0;
            bottom: 30px;
            position: absolute;
            border-top: 3px solid $color-muted;
            border-bottom: 3px solid $color-muted;
        }
        &:after {
            content: "";
            height: 32px;
            top: auto;
        }
    }

    .timeline-content {
        padding: 1em 0 3em;

    }
    .timeline-title {
        margin: 0;
    }
}
