html,
body {
  height: 100%;
}

@font-face {
  font-family: 'Muli-Regular';
  src: url('../fonts/Muli/Muli-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Muli/Muli-Regular.woff') format('woff'), url('../fonts/Muli/Muli-Regular.ttf')  format('truetype'), url('../fonts/Muli/Muli-Regular.svg#Muli-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geo-Regular';
  src: url('../fonts/Geo/Geo-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Geo/Geo-Regular.woff') format('woff'), url('../fonts/Geo/Geo-Regular.ttf')  format('truetype'), url('../fonts/Geo/Geo-Regular.svg#Geo-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PontanoSans-Regular';
  src: url('../fonts/PontanoSans/PontanoSans-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/PontanoSans/PontanoSans-Regular.woff') format('woff'), url('../fonts/PontanoSans/PontanoSans-Regular.ttf')  format('truetype'), url('../fonts/PontanoSans/PontanoSans-Regular.svg#Geo-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin-Light';
  src: url('../fonts/LibreFranklin/LibreFranklin-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/LibreFranklin/LibreFranklin-Light.woff') format('woff'), url('../fonts/LibreFranklin/LibreFranklin-Light.ttf')  format('truetype'), url('../fonts/LibreFranklin/LibreFranklin-Light.svg#Geo-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*TEXTS*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli-Regular', sans-serif;
}

p {
  font-family: 'Muli-Regular', sans-serif;
  font-size: 15px;
}

.bnhr {
  font-family: 'Geo-Regular', sans-serif;
  font-size: 128px;
  color: #000000;
}

.nav-text {
  font-family: 'Muli-Regular', sans-serif;
  font-size: 22px;
}

.cv-name {
  /*font-family: 'LibreFranklin-Light', sans-serif;*/
  font-family: 'Muli-Regular', sans-serif;
  font-size: 40px;
  color: #000000;
  margin-bottom: 0;
}

.cv-summ {
  font-family: 'Geo-Regular', sans-serif;
  font-size: 32px;
  color: #000000;
}

.cv-desc {
  font-family: 'LibreFranklin-Light', sans-serif;
  font-size: 18px;
  margin-bottom: 0;
}

.cv-header, .post-title {
  /*font-family: 'Geo-Regular', sans-serif;*/
  font-family: 'LibreFranklin-Light', sans-serif;
  /*font-family: 'PontanoSans-Regular', sans-serif;*/
  font-size: 28px;
  color: #000000;
}

.cv-title {
  font-family: 'Muli-Regular', sans-serif;
  font-size: 16px;
}

.cv-text, .post-text, .contact-text {
  font-family: 'Muli-Regular', sans-serif;
  font-size: 15px;
  /*text-align: justify;*/
}

.contact-icons {
  color: #000000;
  margin: 0 10px 0 10px;
}

.contact-icons:hover{
  color: #4099ff;
}

.footer-text {
  font-family: 'Muli-Regular', sans-serif;
  font-size: 12px;
}

.project-name {
  font-family: 'Muli-Regular', sans-serif;
  font-size: 18px;
}

/*NAV BAR*/
nav a {
  color: #000000;
  padding: 0px 8px 0px 8px;
}

nav a:active {
  background-color: #000000;
  color: #ffffff;
}

nav a:hover {
  background-color: #000000;
  color: #ffffff;
}

/*BLOG*/
.post-archive {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.post-archive li {
  border-bottom: 1px solid #eee;
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.post-archive li:last-child {
  border-bottom: 0;
}

.post-archive li:after {
  content: "";
  display table;
  clear: both;
}

.post-archive-title {
  font-family: 'LibreFranklin-Light', sans-serif;
  font-size: 28px;
}

@media screen and (max-width: 600px) {

  p {
    font-size: 14px;
  }

  .nav-text {
    font-size: 18px;
  }

  .cv-name {
    font-size: 32px;
  }

  .cv-summ {
    font-size: 28px;
  }

  .cv-desc {
    font-size: 14px;
  }

  .cv-header, .post-title .post-archive-title {
    font-size: 24px;
  }

  .cv-title {
    font-size: 15px;
  }

  .cv-text, .post-text, .contact-text{
    font-size: 14px;
  }

  .footer-text {
    font-size: 10px;
  }

  .project-name {
    font-size: 16px;
  }

}

@media screen and (max-width: 360px) {

  p {
    font-size: 12px;
  }

  .nav-text {
    font-size: 14px;
  }

  .cv-name {
    font-size: 26px;
  }

  .cv-summ {
    font-size: 24px;
  }

  .cv-desc {
    font-size: 12px;
  }

  .cv-header, .post-title .post-archive-title {
    font-size: 20px;
  }

  .cv-title {
    font-size: 12px;
  }

  .cv-text, .post-text, .contact-text {
    font-size: 12px;
  }

  nav a {
    color: #000000;
    padding: 0px 4px 0px 4px;
  }

  .footer-text {
    font-size: 10px;
  }

  .project-name {
    font-size: 14px;
  }

}
