---
layout:   default
title:    Tag
---
{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign posttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:posttags %}
{% endfor %}

{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}

{% for tag in rawtags %}
{% if tag != "" %}

{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}

{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}


<div class="container">
<p>
<h2>Tags</h2>
{% for tag in tags %}
    <a href="#{{ tag | slugify }}" class="post-meta-tag mx-1 no-underline-link"> {{ tag }} </a>
{% endfor %}
<hr class="my-4">
{% for tag in tags %}
    <div id="{{ tag | slugify }}"></div>
    <h3>{{ tag }}</h3>
    <ul class="list-style-none">
    {% for post in site.posts %}
        {% if post.tags contains tag %}
            <li>
                {% include tags-post-archive-meta.html %}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endfor %}

</div>
