---
layout: default
---
<div class="bnhr-container-x pt-1">
    <h1 class="my-2 about-name">Hi, I'm Ben.</h1>
    <p class="about-lead color-accent mb-4">geospatial generalist. open source & open data advocate. maptivist</p>
    <!-- <p class="large color-accent mb-4">geospatial generalist. open source & open data advocate. maptivist</p> -->
    {% include cv-experience.html %}
    {% include cv-education.html %}
    {% include cv-fellowships.html %}
    {% include cv-skills.html %}
    {% include cv-certifications.html %}
    <hr class="fake-br-x my-4">
    <h2>Want to know more?</h2>
    <div class="row px-2">
        <div class="col-md-4 col-sm-12 p-1">
            <a class="btn btn-primary btn-sm btn-block" href="{{ site.baseurl }}#contact">Contact me</a>
        </div>
        <div class="col-md-4 col-sm-12 p-1">
            <a class="btn btn-primary btn-sm btn-block" href="{{ site.baseurl }}/blog/">Read my blog</a>
        </div>
        <div class="col-md-4 col-sm-12 p-1">
            <a class="btn btn-primary btn-sm btn-block" href="{{ site.baseurl }}/portfolio/works.html">See sample works</a>
        </div>
    </div>
</div>
