---
layout: default
---
<div class="bnhr-container-x pt-1">
    <h1 class="my-2 about-name">Hi, I'm Ben.</h1>
    <p class="about-lead color-accent mb-4">Below are samples of my work.</p>

    {% include works-maps-and-viz.html %}
    {% include works-foss-dev.html %}
    {% include works-decks-and-presentations.html %}

    <hr class="fake-br-x mt-2 mb-4">
    <h2>Want to know more?</h2>
    <div class="row px-2">
        <div class="col-md-4 col-sm-12 p-1">
            <a class="btn btn-primary btn-sm btn-block" href="#contact">Contact me</a>
        </div>
        <div class="col-md-4 col-sm-12 p-1">
            <a class="btn btn-primary btn-sm btn-block" href="{{ site.baseurl }}/blog/">Read my blog</a>
        </div>
        <div class="col-md-4 col-sm-12 p-1">
            <a class="btn btn-primary btn-sm btn-block" href="{{ site.baseurl }}/portfolio/cv.html">Check my CV</a>
        </div>
    </div>
</div>
