---
layout: page
---
{{ content }}
<section id="other-courses">
    <hr class="pt-4 mt-4">
    <h1>You might also want to check out our upcoming courses and course offerings for the  <a class="bnhr-link" href="{{ site.baseurl }}/services/training/spatial">spatial</a> and <a class="bnhr-link" href="{{ site.baseurl }}/services/training/data-literacy">data literacy</a> tracks.</h1>
    <!-- <section id="upcoming-courses-spatial">
        <h2 class="pt-4">Upcoming Courses (Spatial)</h2>
        {% include courses-upcoming-spatial.html %}
    </section>
    
    <section id="course-offerings-spatial">
        <h2 class="pt-4">Other Course Offerings (Spatial)</h2>
        {% include courses-offerings-spatial.html %}
    </section> -->
</section>
