---
layout: default
---
<div class="container">
  <!-- {% include sharebar.html %} -->
  {% include meta-post.html %}
  {% include share-social.html %}
  <br>
  {{ content }}
</div>

<br>

<div class="container">
{% include share-social.html %}
</div>

<br>

<div class="container">
{% include related-posts.html %}
</div>

<br>

<div class="container">
{% if page.comments %}
  {% include disqus-comments.html %}
{% endif %}
</div>

<br>

<div class="container">
{% include navigation-posts.html %}
</div>
