---
layout: default
---
<div class='container'>
    {% include post-meta.html %}
    {% include share-social.html %}
    <div class='pb-2'>
        <hr class='fake-br my-4'>
        {{content}}
    </div>
    <hr class='fake-br my-2'>
    {% include share-social.html %}
    <hr class='fake-br my-4'>
    <!-- post navigation -->
    {% include post-pagination.html %}

    {% if page.comments %}
        {% include disqus-comments.html %}
    {% endif %}

    {% include post-related.html %}
</div>
